{% from 'snippet/field_error.html' import field_errors %}
<form class="form-horizontal" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="control-group">
        <label class="control-label"><i class="form-required"></i>活动名称</label>
        <div class="controls">
            {{ form.name(class="form-control", placeholder="活动名称不能为空", required=true) }}
            <span class="inputwrong">{{ field_errors(form.name) }}</span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label"><i class="form-required"></i>上传活动图片</label>

        <div class="controls">

            {{ form.photo(class="form-control")}}<span>上传256px*144px大小的课程图片</span>
            <span class="inputwrong">{{ field_errors(form.photo) }}</span>
        </div>
    </div>
    <div class="control-group">
    <label class="control-label"><i class="form-required"></i>面向人群</label>
        <div class="controls">
            {{ form.ages }}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label"><i class="form-required"></i>收费标准</label>

        <div class="input-append" id="mysetyuan">
            {{ form.price(class="form-control", id="appendedPrependedInput", placeholder="请输入价格", required=true) }}
            <span class="inputwrong">{{ field_errors(form.price) }}</span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label"><i class="form-required"></i>活动类型</label>

        <div class="controls">
            {{ form.category_id(class="form-control", required=true) }}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label"><i class="form-required"></i>联系电话</label>

        <div class="controls">
            {{ form.contact_phone(class="form-control", placeholder="请输入活动联系电话", required=true) }}

        </div>
    </div>
    <div class="control-group">
        <label class="control-label"><i class="form-required"></i>活动开始时间</label>
        <div class="controls">
            <div id="datetimepicker1" class="input-append date">
                {{ form.start_time(class="form-control shortinput", required=true) }}
      <span class="add-on">
        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
      </span>
                <span class="inputwrong">{{ field_errors(form.start_time) }}</span>
            </div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label"><i class="form-required"></i>活动结束时间</label>

        <div class="controls">
            <div id="datetimepicker2" class="input-append date">
                {{ form.end_time(class="form-control shortinput", required=true) }}
      <span class="add-on">
        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
      </span>
                <span class="inputwrong">{{ field_errors(form.end_time) }}</span>
            </div>

        </div>
    </div>
    <div class="control-group">
        <label class="control-label"><i class="form-required"></i>城市</label>

        <div class="controls ">

            <select id="dropLang" class="district form-control" >
                <option selected="selected" value="0">----请选择城市----</option>
                {% for city in form.city_id %}
                    <option value="{{ city.id }}">{{ city.city }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label"><i class="form-required"></i>区域</label>

        <div class="controls">
            <select name="{{ form.location_id.name }}" class="district form-control" id="dropFrame">
                <option selected="selected" value="0">----请选择区域----</option>
                {% for location in form.location %}
                    <option value="{{ location.id }}" parentid="{{location.city_id }}">{{ location.district }}</option>

               {% endfor %}
            </select>
            <span>{{ field_errors(form.location_id) }}</span>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label"><i class="form-required"></i>地址</label>

        <div class="controls">
            {{ form.address(class="form-control", id="org_address",require="true") }}
            <span class="inputwrong">{{ field_errors(form.address) }}</span>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">附近交通</label>

        <div class="controls">
            {{ form.traffic(class="form-textarea", row="4", id="org_traffic") }}
            <span class="inputwrong">{{ field_errors(form.traffic) }}</span>

        </div>
    </div>
    <div class="control-group">
        <label class="control-label">附近标志建筑</label>

        <div class="controls">
            {{ form.landmark(class="form-control", id="org_address") }}
            <span class="inputwrong">{{ field_errors(form.landmark) }}</span>

        </div>
    </div>
    <div class="control-group">
        <label class="control-label"><i class="form-required"></i>活动简介</label>

        <div class="controls">
            {{ form.detail(rows="4", class="form-textarea", placeholder="请输入140字以内的活动简介", required=true) }}
            <span class="inputwrong">{{ field_errors(form.detail) }}</span>

        </div>
    </div>
    <div class="controls">
        <button type="submit" class="btn-next">发布</button>
    </div>
</form>
