{% set navigation_bar = [
    ('znx_admin.chat', 'chat', '用户聊天'),
    ('znx_admin.register', 'register', '求学登记'),
    ('znx_admin.confirm_list', 'confirm_list', '机构学校审核'),
    ('znx_admin.activity', 'activity', '首页推荐活动'),
    ('znx_admin.org', 'org', '首页推荐机构'),
    ('znx_admin.course_orders', 'course_orders', '课程订单'),
    ('znx_admin.activity_orders', 'activity_orders', '机构订单'),
    ('znx_admin.comment', 'comment', '意见反馈'),
] -%}

{% set active_page = active_page|default('chat') -%}

<div class="leftabout">
    <ul class="unstyled" id="adminTab">
        {% for href, id, caption in navigation_bar %}
        <li {% if id == active_page %} class="active" {% endif %}><a href="{{ url_for(href) }}">{{ caption }}</a></li>
        {% endfor %}
    </ul>
</div>