<form class="form-horizontal" method="post">
    {{ form.hidden_tag() }}
    <div class="control-group">
        <label class="control-label"><i class="form-required"></i>课程名称</label>

        <div class="controls">
            <input type="text" name="{{ form.name.name }}" class="form-control" placeholder="课程名称不能为空" required/>

        </div>
    </div>

    <div class="control-group">
        <label class="control-label"><i class="form-required"></i>适应年龄</label>

        {{ form.age_id(class="form-control-more")}}

    </div>
    <div class="control-group">
        <label class="control-label"><i class="form-required"></i>价格</label>

        <div class="input-append" id="mysetyuan">
            <input type="text" name="{{ form.price.name }}" class="form-control" id="appendedPrependedInput" placeholder="请输入整数" required/>
            <span class="add-on">元</span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label"><i class="form-required"></i>上课天数</label>

        <div class="input-append" id="mysetday">
            <input type="text" name="{{ form.days.name }}" class="form-control" placeholder="请输入整数" required/>
            <span class="add-on">天</span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label"><i class="form-required"></i>咨询时间</label>

        <div class="controls">
            <input type="text" name="{{ form.consult_time.name }}" class="form-control" placeholder="可以咨询时间段，类似于9:00-21:00" required/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label"><i class="form-required"></i>是否支持试听</label>

        <div class="controls">
            <label class="radio">
                <input type="radio" name="{{ form.is_tastable.name }}" value="1" checked>支持
            </label>
            <label class="radio">
                <input type="radio" name="{{ form.is_tastable.name }}" value="0">
                不支持
            </label>

        </div>
    </div>

    <div class="control-group">
        <label class="control-label"><i class="form-required"></i>滚动开班</label>

        <div class="controls">
            <label class="radio">
                <input type="radio" name="{{ form.is_round.name }}" value="1" checked/>支持
            </label>
            <label class="radio">
                <input type="radio" name="{{ form.is_round.name }}" value="0"/>
                不支持
            </label>

        </div>
    </div>
    <div class="control-group">
        <label class="control-label"><i class="form-required"></i>上课时间</label>
        <div class="controls">
            {{ form.class_time }}
        </div>
    </div>

    <div class="control-group">
        <label class="control-label"><i class="form-required"></i>课程简介</label>

        <div class="controls">
            <textarea rows="4" name="{{ form.intro.name }}" class="form-textarea" placeholder="请输入140字以内的课程简介" required></textarea>

        </div>
    </div>
    <div class="controls">
        <button type="submit" class="btn-next">发布</button>
    </div>
</form>