<div id="myComment" class="modal hide fade" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myCommentLabel">写评价，攒人品！</h3>
    </div>
    <div class="modal-body">
        <form action="" method="post" class="form-horizontal"/>
        {{ form.hidden_tag() }}
        <div class="control-group">
            <label class="control-label">总体评价</label>

            <div class="controls">
                <div class="revinp">
				<span class="level">
					<i class="level_hollow" cjmark=""></i>
					<i class="level_hollow" cjmark=""></i>
					<i class="level_hollow" cjmark=""></i>
					<i class="level_hollow" cjmark=""></i>
					<i class="level_hollow" cjmark=""></i>
				</span>
                    <span class="revgrade" id="scoreno">请评分</span>
                    <input type="hidden" name="{{ form.stars.name }}" id="scorenum" value="0"/>
                </div>

            </div>
            <br>

            <div class="control-group">
                <h4>写评价</h4>
                <textarea rows="5" name="{{ form.body.name }}" class="form-textarea" id="Commenttext"></textarea>
                <b id="commentnum"></b>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn-next nomargin" type="submit"  id="scorebtn">提交</button>
    </div>
    </form>
</div>