@charset"utf-8";
 
/* CSS Document */
 a {
    text-decoration:none;
    color:#727272;
}
#warp {
    color:#727272;
}
.navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container, .container {
    width:1200px;
}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
    border-color: rgba(0, 185, 141, 0.8);
    outline: 0px none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(0, 185, 141, 0.6);
}
a:hover {
    text-decoration:none;
}
.active a {
    color:#00B98D;
}
.nocolor {
    background:#fff;
    border: 0;
}
.active1 a {
    color:#090;
    background:#fff;
}
.nav {
    margin: 0 40px;
}
.carousel-indicators .active {
    background-color: #00B98D;
}
.carousel-control {
    top:50%;
}
.carousel {
    margin-bottom:0px;
    margin-top: 6px;
}
.modal-backdrop, .modal-backdrop.fade.in {
opacity: .7;
filter: alpha(opacity=70);
}
#navbar {
    margin-bottom:0px;
}
body {
    height: 100%;
    font-family:"微软雅黑";
    /* The html and body elements cannot have any padding or margin. */
    background:#FAF7F2;
    min-width:1230px;
}
.clearboth {
    clear:both;
}
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -310px;
}
#headnav {
    height:40px;
}
#headnav .navbar-inner {
    background:#f5f5f5;
    border-width:0px;
}
#navbar .nav>li>a {
    border-bottom: 2px solid #f5f5f5;
    line-height: 20px;
    font-size: 16px;
}
#navbar .nav>li>a:focus, #navbar .nav>li>a:hover, #navbar .nav>li.act a {
    border-bottom: 2px solid #00B98D;
    color:#00B98D
}
#headnav a, #headnav span {
    color: #333;
    font-size: 14px;
    padding:0px 16px;
    line-height:40px;
}
#contenthead .dropdown-toggle, #contenthead .dropdown-menu {
    background:#fff;
    border:0px;
    border-radius:0px;
}
#contenthead .dropdown-toggle {
    width:46px;
    font-size: 18px;
}
#contenthead .dropdown-menu>li>a:hover {
    background:#00B98D;
}
.headsearch {
    margin: 23px 10px 8px;
    float: left;
}
#headsearch .search {
    width: 540px;
    border-radius: 0;
    border: 0px;
    height: 32px;
    padding-left:20px;
    font-size: 14px;
}
#headsearch .form-search {
    border: 2px solid #00B98D;
    margin:0 0 5px;
}
#headsearch .btn {
    font-size: 20px;
    color: #fff;
    background: #00B98D;
    border-radius: 0px;
    border: 0px;
}
#searchkey a {
    color:#666;
    font-size:12px;
}
#citylist {
    min-width:40px;
}
#header {
    width: 200px;
    float: left;
}
.head .icon-search {
}
.mainhead {
    border-bottom:2px solid #f5f5f5;
    background:#fff;
    padding-top:10px;
}
#allnav {
    display:none;
}
#allnav dd ul {
    margin-left:-15px;
}
#allnav dd ul li {
    padding-right:6px;
}
#allnav dd ul a {
    color:#000;
    font-size:12px;
}
#allnav dl {
    height:45px;
    margin-bottom:10px;
}
#allnav dt {
    margin-top:-5px;
}
#navbar i {
    margin: 4px 45px 3px;
}
.logopic {
    text-indent: -9999px;
    width: 200px;
    height: 100px;
}
.city {
    float:left;
    margin: 36px 0px 0px;
}
.act img {
    width:200px;
    height:75px;
}
.headsearch .btn {
    height: 40px;
    width: 110px;
}
.acte {
    float:left;
}
#navorgan {
    line-height: 20px;
    background: #00b98d;
    color: #fff;
    width: 175px;
    font-size: 16px;
    padding: 10px 20px 12px;
    text-shadow: none;
    margin-left: 0px;
}
#navbar, #navbar .nocolor {
    height:40px;
}
#asklearn {
    width: 280px;
    height: 330px;
    background: #fff;
    margin: 10px 5px;
}
#navbar ul {
    margin:0px 40px;
    font-size:18px;
}
.brand img {
    height:35px;
}
.nav li {
    line-height:34px;
}
.nav li span {
    color:#fff;
    line-height: 54px;
}
#indexcontent {
    position: absolute;
    /* left: 75px; */
    z-index: 1;
    margin: 44px -20px;
}
#indexcontent .row {
    margin-left:0px;
}
#indexcontent .catalog {
    height: 333px;
    border: 2px solid #00B98D;
    padding: 0 12px;
    width: 187px;
    background:#fff;
}
#indexcontent .span5 {
    height:300px;
    border:1px solid;
}
#indexcontent .span4 {
    height:300px;
    border:1px solid;
}
#indexcontent .catalog dl {
    border-bottom:1px dotted #999;
}
#indexcontent .catalog .lasthr {
    border-bottom:0px;
}
#indexcontent .catalog dd ul {
    padding:2px 0 0;
}
#organlistpic ul li {
    width: 226px;
    height: 89px;
    float: left;
    ;
}
#organlistpic ul li img {
    width: 254px;
    height: 89px;
}
#asklearn>span {
    font-size: 16px;
    height: 34px;
    line-height: 36px;
    display: block;
    text-align: center;
    color: #000;
    border-bottom: 2px solid #00B98D;
    width: 100px;
    margin-left: 20px;
    margin-top: 10px;
}
#asklearn>span img {
    position: absolute;
    margin: 11px 4px;
}
#asklearn ul {
    padding: 10px 20px 1px;
    margin-top: 10px;
}
#asklearn ul li {
    margin-bottom:10px;
}
#asklearn ul li span {
    margin-right:20px;
}
#asklearn .abtn {
    display: block;
    text-align: center;
}
#asklearn .abtn button {
    background: url(../images/qxdj.png);
    height: 56px;
    width: 200px;
    outline: none;
    border: 0px;
}
.nav li span img {
    height:35px;
}
.allfooter .row-fluid ul li {
    margin-left: 15px;
}
.loginGift {
    padding:30px 0;
}
.giftPic img {
    width:100%;
    height:100%;
}
.login {
    border: 1px solid #ddd;
}
.form-forget {
    float:left;
}
.form-right {
    float:right;
}
#footer {
    background:#EEEAE3;
    padding:30px;
}
#footer {
    color:#727272;
}
#footer h3 {
    font-weight:normal;
    font-size:20px;
    text-align:center;
}
#footer ul li {
    padding: 0 10px 5px;
    padding: 0 10px 5px;
    margin-left: 60px;
}
#footer .span3 {
    border-right:1px solid #DAD8D5;
    height:170px;
}
#footer .container {
    height: 200px;
    border-bottom: 1px solid #DAD8D5;
}
#footeradd {
    margin:15px 0 0 0;
}
#footeradd ul li {
    margin:0px 10px 0 0;
    padding:0px;
}
#footeradd .footerlink, #footeradd span {
    margin-left:320px;
    font-size:12px;
}
#footeradd .footerlink ul {
    margin-bottom:5px;
}
#organreg1 {
    background:#fff;
}
#organregall {
    height:auto;
    padding:50px 0 100px;
    color:#000;
}
.breadcrumb a {
    color:#000;
}
#organregall .active a {
    color:#00B98D;
}
#organregall .container {
    height:auto;
    background:#fff;
    padding:20px 0 0px;
}
#organregall .container>h3 {
    margin-left: 40px;
    font-size: 24px;
    font-weight: normal;
    border-bottom: 2px solid #00B98D;
    width: 100px;
}
#organregall .container .hr>h3 {
    margin-left: 40px;
    font-size: 24px;
    font-weight: normal;
    border-bottom: 2px solid #00B98D;
    width: 100px;
}
#organregall .container .hr hr {
    margin: -12px 140px 0px;
    width: 1032px;
    border-top: 1px solid #ECE9E2;
}
#organregall .container .breadcrumb {
    width: 1100px;
    height: 64px;
    margin: -10px 38px;
    font-size: 18px;
    line-height: 64px;
    text-align: center;
    padding:0px;
    background:#FCFBF8;
}
#organregform {
    padding: 50px 180px;
}
#organregform .form-horizontal {
    margin-left:60px;
}
#organregform .form-control {
    width: 320px;
    height: 40px;
    padding: 0;
    font-size: 18px;
    padding-left:10px;
	background: #fff;
}
#organregform span {
    margin-left:20px;
    color:#FF2424;
}
#organregform .form-control .form-control {
    margin-left: -10px;
    width: 330px;
    height: 42px;
}
#organregform .control-label {
    line-height:40px;
    height:40px;
    font-size:18px;
}
.btn-long {
    width: 330px;
    margin-left: 0px;
    margin-top: 40px;
    border: 0;
    background: #00B98D;
    height: 50px;
    color: #fff;
    font-size: 20px;
}
#checkrule {
    margin: 26px 247px;
}
#checkrule input {
    margin:-1px;
}
#myModalLabel {
    text-align: center;
    font-size: 20px;
    font-weight: normal;
}
.logingift {
    float:left;
    margin: 70px 80px;
    width: 530px;
    height: 310px;
}
#twologin {
    width: 326px;
    height:326px;
    float: left;
    margin: 70px 30px;
}
#twologin .nav {
    margin:0;
}
.btn-myred {
    background: #FD8F6A;
    border: 0;
    border-radius: 0;
    padding: 10px;
    color: #fff;
    font-size: 18px;
    text-shadow:none;
    margin-left:20px;
}
#twologin ul li a {
    width: 162px;
    padding: 0;
    text-align: center;
    font-size: 18px;
    height: 42px;
    line-height: 42px;
    color: #000;
    background: #EDEAE5;
    border-radius: 0;
    outline: none;
    margin:0px;
}
#twologin .controls {
    margin:0px 55px;
}
#twologin .controls .form-control {
    margin-top: 30px;
    height: 30px;
    border-radius: 0;
    color: #000;
}
#twologin .controls .last-control {
    margin-top:10px;
}
.btn-long1 {
    width: 228px;
    margin-left: 0px;
    margin-top: 9px;
    border: 0;
    background: #00B98D;
    height: 46px;
    color: #fff;
    font-size: 20px;
    margin-bottom: 8px;
}
#rememberme {
    margin:-11px -23px 0px;
    width:80px;
}
#twologin .controls span a {
    margin-top: -23px;
    float:right;
    color: #000;
    margin-right: -5px;
}
#rememberme input {
    margin:4px;
}
#twologin .active a {
    background:#fff;
    color:#00B98D;
}
.btn-next {
    border: 0;
    background: #00B98D;
    width: 116px;
    height: 50px;
    color: #fff;
    font-size: 20px;
    margin-left: 110px;
}
.form-horizontal .control-label {
    padding:0px;
}
.form-textarea {
    width:320px;
}
#about-header1, #about-header2 {
    font-size: 20px;
    color: #000;
    text-align: center;
    background: url(../images/bg-h2.png) repeat-x center;
    font-weight: normal;
}
#organregform .upload1, #organregform .upload2 {
    width:860px;
}
#organregform .upload1 ul li, #organregform .upload2 ul li {
    width: 360px;
    float: left;
    height:300px;
}
#organregform .upload1 ul li:first-child, #organregform .upload2 ul li:first-child {
    margin-left:65px
}
#organregform .upload1 ul li:last-child, #organregform .upload2 ul li:last-child {
    margin-left:33px
}
#organregform .upload1 ul li h3, #organregform .upload2 ul li h3 {
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    color: #727272;
}
#organregform .upload1 ul li h3:first-child, #organregform .upload2 ul li h3:first-child {
    float:left;
    margin-left:100px;
}
.anotherbtn {
    width: 140px;
    height: 38px;
    line-height: 36px;
    font-size: 18px;
    margin-left: 0px;
    outline: none;
    display: inline-block;
}
#organregform .upload1 ul li img, #organregform .upload2 ul li img {
    width:260px;
    height:190px;
}
.btn-final {
    width:140px;
    margin-left:360px;
    margin-top:20px;
}
#piclist {
    width: 680px;
    margin: 5px;
}
#myCarousel .carousel-indicators {
    position: absolute;
    top: 210px;
    right: 20px;
}
.carousel-control {
    border:0px;
    left: 5px;
    width: 40px;
    height: 60px;
    margin-top: -32px;
    font-size: 60px;
    font-weight: 100;
    line-height: 50px;
    color: #fff;
    text-align: center;
    background: #222;
    border-radius: 0;
    opacity: .3;
}
.carousel-control.right {
    right:5px;
}
.btn-qudj {
    background:#fff;
}
#floor1 h3, #floor2 h3 {
    font-size: 28px;
    color: #000;
    font-weight: normal;
}
#floor1 ul.inline>li {
    background: #fff;
    width: 273px;
    height:auto;
    margin-left: 33px;
    float:left;
    border:1px solid #ECE9E2;
    padding:0px;
    height:270px;
}
#floor1 ul.inline>li:first-child {
    margin-left:0px;
}
#floor1 ul.inline>li a {
    display:block;
}
#floor1 ul.inline>li .floordec {
    padding:27px 10px 0px;
    text-align:center;
}
#floor1 ul.inline>li .floordec span {
    font-size:24px;
}
#floor1 ul.inline>li .floordec address {
    color:#000;
    margin-top:5px;
}
#floor1 ul.inline>li .floordec address img {
    margin-right:4px;
}
#floor2 ul.inline {
    height:280px;
    background:#fff;
    padding:55px;
}
#floor2 {
    margin-bottom: 50px;
    margin-top: 30px;
}
#floor2 ul.inline {
    border: 1px solid #ECE9E2;
}
#floor2 ul.inline>li {
    width:258px;
    height:317px;
    margin-left:14px;
}
#floor2 ul.inline>li:last-child {
    width:200px;
}
#floor2 ul.inline>li .picstep {
    float:left;
    width:200px;
}
#floor2 ul.inline>li .picstep a {
    display:block;
    margin-bottom:15px;
}
#floor2 ul.inline>li .picstep span {
    margin-left:16px;
    font-size:20px;
}
#floor2 ul.inline>li .picstep p {
    margin-top:15px;
    color:#000;
}
#floor2 ul.inline>li .arrstep {
    width:34px;
    float:left
}
#floor2 ul.inline>li .arrstep img {
    margin-top:62px;
}
#bigheadnav .navbar-inner {
    height: 112px;
    box-shadow: none;
    background: #fff;
}
#bigheadnav .bigbrand {
    display: block;
    width: 400px;
    height: 100px;
    margin: 5px 0;
    float:left;
}
#bigheadnav ul {
    float:right;
    height: 100px;
    line-height: 100px;
    font-size: 16px;
}
#bigheadnav ul li a {
    color:#00B98D;
    cursor:pointer;
}
.bignavright ul li img {
    margin-bottom:6px;
}
#userLogin .form-auxlinks, #organLogin .form-auxlinks {
    margin-left: 56px;
}
#userLogin .form-right, #organLogin .form-right {
    margin-right: 40px;
}
#form-feedback {
    color:#000;
}
.fengge {
    padding:0 3px;
}
#twologin .nav-tabs {
    border-bottom:0px;
}
#twologin .nav-tabs .active {
    border-top:2px solid #00B98D
}
#twologin .nav-tabs>.active>a {
    border:0px;
}
.btn-userreg {
    height: 82px;
    width: 240px;
    outline: none;
    border: 0px;
    margin-top: 15px;
    background:url(../images/userregbtn.png);
}
.btn-organrreg {
    height: 82px;
    width: 291px;
    outline: none;
    border: 0px;
    margin-top: 15px;
    background:url(../images/organregbtn.png);
}
#tworeg {
    height: auto;
    padding: 50px 0 100px;
    color: #000;
}
#tworeg ul li {
    width:300px;
    height:280px;
    text-align:center;
    margin-left:185px;
    margin-bottom:170px;
}
#tworeg ul li a {
    display:block;
}
#myorgan {
    
}
#myorgan .myhead {
    height:366px;
    border:1px solid #ECE9E2;
    background: #fff;
}
#myorgan .headtitle {
    height: 200px;
    background: #E1D49C;
    float: left;
    width: 1198px;
}
#myorgan .headdes {
    height:166px;
    background:#fff;
}
#myorgan .headtitle dl {
    margin-top:0px;
}
#myorgan > div > div.headtitle > div > dl > dt > span {
    font-size: 30px;
    margin-right: 10px;
    font-weight: normal;
    float: left;
}
#myorgan > div > div.headtitle > div.organname {
    margin: 130px 250px;
}
#myorgan > div > div.headtitle > div > dl > dt > address {
    color: #909090;
    padding-top: 6px;
    font-weight: normal;
    margin-bottom:10px;
}
#myorgan > div > div.headtitle > div > dl > dd {
    font-size: 16px;
    color: #000;
    margin-left: 0px;
}
#myorgan .organlogo {
    float: left;
    margin-left: 70px;
    margin-top: 110px;
}
#myorgan .headdes .organmoredec {
    float: left;
    margin: 22px 277px;
}
#myorgan .headdes .organmoredec span {
    font-size: 18px;
    margin-right: 14px;
    height:20px;
    line-height:20px;
    color: #000;
}
#myorgan .headdes .organmoredec span i{
	margin:5px;}
#myorgan .headdes .organmoredec organplace img{
	margin:4px;}
#myorgan .headdes .organmoredec span img {
    margin: 8px 4px;
}
#myorgan .headdes .organknown .lastspan {
    margin: 0px -14px;
    float: left;
    font-size: 12px;
    color: #000;
}
#myorgan > div > div.headdes > div.organtotal > ul > li.organknown {
    FLOAT: left;
    margin: 7px -30px;
    padding-right: 50px;
}
#myorgan .headdes .organtotal {
    float: left;
    margin: -30px 108px;
}
#myorgan .headdes .organtotal ul li {
    border-right: 1px solid #DEDEDE;
    padding-right: 30px;
    height: 50px;
    margin-top: 10px;
    padding-left: 30px;
    text-align: center;
    padding-top: 10px;
}
#myorgan .headdes .organtotal ul li span {
    font-size:35px;
    color:#00B98D;
}
#myorgan .headdes .organtotal ul li p {
    padding-left: 20px;
    color: #000;
    margin-top: 4px;
    margin-left:10px;
}
#myorgan .headdes .organtotal .lastli {
    border-right: 0;
}
#myorgan .headdes .organtotal .lastli p {
    margin-left: -30px;
}
#organthree {
    background: #fff;
    margin-top: 33px;
    border:1px solid #ECE9E2;
    /* height: 431px; */
}
#organthree .tabbable .nav {
    margin: 0px;
    font-size: 16px;
    color: #000;
    /* height: 58px; */
}
#organthree .tabbable .nav li {
    border-right:1px solid #ECE9E2;
}
#organthree .tabbable .nav li a {
    line-height: 40px;
    width: 150px;
    text-align: center;
    /* border-left: 1px solid #ECE9E2; */
    border-radius: 0px;
    font-weight: 600;
    border-top:0px;
}
#organthree .tabbable .nav-tabs>.active>a, #organthree .tabbable .nav-tabs>.active>a:focus {
    border-bottom:2px solid #00B98D;
    border-right:0;
    border-left:0;
}
#organthree #tab1 .organallknow {
	padding: 25px 41px;
}
#organthree #tab1 .organallknow .dl-horizontal dt{
	width: 1060px;
height: 40px;
background: #F4F4F4;
font-size: 20px;
color: #000;
text-align: left;
line-height: 40px;
padding-left: 20px;
font-weight: normal;
	}
	#organthree #tab1 .organallknow .dl-horizontal dd{
	margin-left: 0;
padding: 56px 16px 0px;
width: 1060px;
text-indent: 2em;
font-size: 16px;
line-height: 25px;}
#organthree #tab1 .organallknow .dl-horizontal dd .amoremore{
float: right;
font-size: 16px;
margin-right: 10px;}
#organthree #tab1 .organallknow .dl-horizontal dd p.organplace{
margin: 6px -33px 4px;}


.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{display:inline-table}
*html .clearfix{height:1%}
.clearfix{display:block}
*+html .clearfix{min-height:1%}
.fl{float:left;}

.gradecon{border:1px solid #E0DCDC;background:#fefdea;padding:10px;width:320px;margin:40px auto 0 auto;}
.rev_pro li{line-height:20px;height:20px;}
.rev_pro li .revtit{text-align:right;display:block;float:left;margin-right:10px;width:70px;}
.revinp{float:left;display:inline;margin: 0px 15px;}
.level .level_solid,.level .level_hollow{float:left;background-image:url("../images/icon2.png");background-repeat:no-repeat;display:inline-block;width:15px;height:15px;}
.level .level_solid{background-position:0px 0px;}
.level .level_hollow{background-position:-21px 0px;}
.revgrade{margin-left:20px;}
#usertest li{
	height: 150px;
margin-bottom: 70px;
margin-top:30px;}
	#usertest li .leftuser{
		width: 70px;
float: left;
margin-top: 23px;}
		#usertest li .leftuser img{
			
			float: left;
margin: 10px 12px;
width: 70px;
height: 70px;}
			#usertest li .leftuser span{
				float:left;}
				#usercomment1,#usercomment2{
					display: block;
position: relative;
float: left;
max-width: 933px;
margin-left: 32px;
height: 170px;}
#usercomment1 .popover-title,#usercomment1 .popover-title{
	background: #fff;
height: 30px;
line-height: 30px;}
#usercomment1 .popover-title span,#usercomment2 .popover-title span{
	color: #000;
margin-right: 13px;
font-size: 16px;}
#usercomment1 .popover-content span,#usercomment .popover-content b,#usercomment2 .popover-content span,#usercomment .popover-content b{
	float:left;}
	#usercomment1 .commment,#usercomment2 .commment{
		margin-top: 15px;
		margin-top:15px;
padding: 19px 0px;}
#icommnet{
	float: right;
vertical-align: middle;
margin: -3px 5px;
cursor: pointer;}
#myComment .modal-header,#myeditwrong .modal-header{
	padding: 10px;
height: 28px;
line-height: 28px;
background: #00B98D;
font-size: 16px;
color: #fff;
font-weight: normal;}
#myComment .modal-header .close,#myeditwrong .modal-header .close,#myzixun .modal-header .close{
	width: 20px;
font-size: 36px;
color: #000;
margin: -3px -4px;}
#myzixun .modal-header .close{
	margin:5px;}
#myCommentLabel{
	font-size:16px;
	font-weight:normal;}
	#myComment .control-group textarea{
		width: 433px;
margin:0 44px;
font-size: 16px;
}
#myComment .control-group  label{
	font-size: 18px;
color: #000;
}
#myComment .control-group {
	padding-top:15px;}
#myComment .control-group  .revgrade{
	color: #ff0000;
font-size: 16px;}
	#myComment .control-group h4,#myeditwrong .control-group h4{
		margin-left: 49px;
font-size: 16px;
font-size: 14px;
font-weight: normal;
margin-top:26px;}
#myComment .control-group b{
	margin:0px 45px;
	font-size:14px;
	color:#000;
	font-weight:normal;}
	#myComment .modal-footer,#myeditwrong .modal-footer,#myzixun .modal-footer{
		padding:5px 10px;}
			#myComment .modal-body{
				padding: 10px 15px 0px;}
				#niming span{
					margin: -10px 0px;
					}
					.nomargin{margin-left:20px;height:40px;}
					#organclass ul li,#organplay ul li{
						padding: 40px 80px 20px;
border-bottom: 1px solid #DDDDDD;
height:130px;
width:1040px;}
#organclass,#organplay{
	margin-bottom: 100px;}
#organclass ul li .classright,#organplay ul li .classright{
	float:right;
	}
	#organclass ul li .classleft img,#organclass ul li .classleft span,#organplay ul li .classleft img,#organplay ul li .classleft span{
		float:left;
	}
	#organclass ul li .classleft .classtest,#organplay ul li .classleft .classtest{
		width: 300px;
float: left;
color:#292929;}
#organclass ul li .classleft span,#organplay ul li .classleft span{
	
float: left;
width: 241px;
font-size: 16px;
line-height: 20px;
height: 22px;}
#organclass ul li .classleft span.level,#organplay ul li .classleft span.level{
	width:85px;}
		#organclass ul li .classleft h3,#organplay ul li .classleft h3{
			color: #000;
font-size: 24px;
float: left;
margin: 10px 20px;
font-weight:normal;
			}
			#organclass ul li .classright span,#organplay ul li .classright span{
		float: right;
font-size: 30px;
color: #00B98D;
line-height: 30px;
height: 30px;
width: 120px;
margin: 22px 2px 12px;
text-align: center;}
#organclass ul li .classright a,#organplay ul li .classright a{
	display:block;}
	#zixunbtn{
		width:230px;
		height:45px;
		background:url("../images/zixun.png");
		border:0px;
		border-radius:0px;
		float: right;
margin: -43px 70px;
outline:none;
		}
		.threesmall{
			float: right;
margin: 46px 115px;
cursor:pointer;}
#wrongtext{
	width: 458px;
margin-left: 30px;}
#myzixun .modal-header{
	background: url("../images/myzixun.png");
height: 54px;
width: 560px;
padding: 0;
margin: 0;}
#myzixun .modal-body{
	height: 400px;
padding-Bottom: 6PX;}
	#myzixun .modal-body textarea{width: 513px;
border: 1px solid rgb(221, 221, 221);
margin: 0px 0px 10px;
height: 80px;
outline: none;
resize: none;}
	#myzixun .modal-body .talk{
		height:300px;
		}
		#myzixun .modal-body .talk .italk,#myzixun .modal-body .talk .ytalk{
			background: #00B98D;
font-size: 16px;
padding: 10px;
float: right;
max-width: 340px;
height: auto;
text-shadow: none;
font-weight: normal;
line-height: 24px;
white-space:normal;
word-break:break-all;
margin-top:10px;}
#myzixun .modal-body .talk .ytalk{
	background:#dddddd;
	float:left;
	color:#727272;}
	#classdet{
		background: #fff;
height: 160px;
padding: 34px 50px;
border: 1px solid #ECE9E2;
color:#000;}
#classdet .classnamepic{
	float:left;
	width:158px;
	height:158px;}
	#classdet .organmoredec{
	
		float: left;
width: 117px;
font-size: 18px;}
#classdet .calssinfo{
	float:left;}
#classdet .organmoredec span i{
	margin:6px;
	}
	#classdet ul{
		margin-top: 60px;}
		#classdet h3{
			
font-size: 30px;
font-weight: normal;
float:left;}
#classdet h3 span{
	font-size:18px;}
#classdet .picright{
	float: left;
height: 158px;
padding-left: 20px;}
#classdet .picright .revinp{

	float: left;
margin-top: 21px;}
.attendbtn{
	width: 230px;
height: 45px;
background: url("../images/attendclass.png");
border: 0px;
border-radius: 0px;
float: right;
outline: none;
margin: -91px 100px;
	}
	#organregall>.container>.attendtitle{
		width:200px;}
		#datetimepicker >.form-control {
			width:283px;}
			#datetimepicker span.add-on{
				margin: 0px;
height: 20px;
padding: 10px;
cursor:pointer;}
.form-control-more{
	margin-left: 23px;
width: 331px;
height: 44px;
padding: 0;
font-size: 18px;
padding-left: 10px;
background: #fff;}