<!DOCTYPE html>
<html>
<head>
  <title>关于在哪学</title>
  <link href="../static/css/znx.min.css" rel="stylesheet" media="screen">
  <link href="../static/css/main.css" rel="stylesheet"/>
    <script src="../static/js/jquery.js" type="text/javascript"></script>
  <script src="../static/js/znx.min.js" type="text/javascript"></script>
   <script type="text/javascript" src="../static/js/user.js"></script>
<meta charset="utf-8">
</head>
<body>
<div id="wrap">
    <div class="navbar navbar-static-top" id="headnav">
        <div class="navbar-inner ">
            <div class="container">
                <a class="brand" href="#">
                    <img src="../static/images/phonelogo.png">手机版在哪学</a>
                <div class="nav-collapse collapse">
                    <ul class="nav pull-right">
                        <li>
                            <a href="login_choose.html">
                                <img src="../static/images/man.png">登录</a>
                        </li>
                        <li><a href="#reg">注册</a>
                        </li>
                        <li><a href="#myznx">我的在哪学</a>
                        </li>
                        <li><span><img src="../static/images/telelogo.png">400-91-910</span>
                        </li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <div class="mainhead">
        <div class="container head" id="contenthead">
            <div id="header">
                <img src="../static/images/logo.png" class="logopic">
            </div>
            <div class="city">
                <div class="btn-group"> <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    北京
    <span class="caret"></span>
  </a>
 
                    <ul class="dropdown-menu" id="citylist">
                        <li><a href="#">西安</a>
                        </li>
                        <li><a href="#">厦门</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="headsearch" id="headsearch">
                <form class="form-search">
                    <div class="input-append">
                        <input type="text" class="search" placeholder="搜索你要找的培训机构">
                        <button type="submit" class="btn btn-success">搜索</button>
                    </div>
                </form>
                <ul id="searchkey" class="inline unstyled">
                    <li><a href="#">幼儿早教</a>
                    </li>
                    <li><a href="#">幼儿才艺</a>
                    </li>
                    <li><a href="#">幼儿培训</a>
                    </li>
                </ul>
            </div>
            <div class="acte">
                <a href="#">
                    <img src="../static/images/actvit.png">
                </a>
            </div>
        </div>
        <div class="navbar container" id="navbar">
            <div class="nocolor"> <a class="brand span3" href="#" id="navorgan">培训机构
    <i class="icon-chevron-down icon-white" id="iconcheck"></i>
    </a>
 
                <div id="indexcontent">
                    <div class="row">
                        <div class="span3 catalog" id="allnav">
                            <dl class="firsthr"> <dt class="text-left">幼儿早教.</dt>
 
                                <dd>
                                    <ul class="inline">
                                        <li><a href="#">中学生课辅</a>
                                        </li>
                                        <li><a href="#">高中生课辅</a>
                                        </li>
                                    </ul>
                                </dd>
                            </dl>
                            <dl> <dt class="text-left">少儿培训</dt>
 
                                <dd>
                                    <ul class="inline">
                                        <li><a href="#">中学生课辅</a>
                                        </li>
                                        <li><a href="#">高中生课辅</a>
                                        </li>
                                    </ul>
                                </dd>
                            </dl>
                            <dl> <dt class="text-left">青少年课辅</dt>
 
                                <dd>
                                    <ul class="inline">
                                        <li><a href="#">中学生课辅</a>
                                        </li>
                                        <li><a href="#">高中生课辅</a>
                                        </li>
                                    </ul>
                                </dd>
                            </dl>
                            <dl> <dt class="text-left">IT培训</dt>
 
                                <dd>
                                    <ul class="inline">
                                        <li><a href="#">中学生课辅</a>
                                        </li>
                                        <li><a href="#">高中生课辅</a>
                                        </li>
                                    </ul>
                                </dd>
                            </dl>
                            <dl> <dt class="text-left">外语</dt>
 
                                <dd>
                                    <ul class="inline">
                                        <li><a href="#">中学生课辅</a>
                                        </li>
                                        <li><a href="#">高中生课辅</a>
                                        </li>
                                    </ul>
                                </dd>
                            </dl>
                            <dl class="lasthr"> <dt class="text-left">外语</dt>
 
                                <dd>
                                    <ul class="inline">
                                        <li><a href="#">中学生课辅</a>
                                        </li>
                                        <li><a href="#">高中生课辅</a>
                                        </li>
                                    </ul>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <ul class="nav">
                    <li ><a href="#">首页</a>
                    </li>
                    <li><a href="#">平台流程</a>
                    </li>
                    <li class="act"><a href="#">机构入驻</a>
                    </li>
                </ul>
            </div>
        </div>
        
        
        
    </div>
    <div class="container" id="aboutus">
    <div class="leftabout">
    <ul class="unstyled" id="myTab">
<li ><img src="../static/images/about.png"/>关于在哪学</li>
<li class="active"><a href="#aboutknow">了解我们</a></li>
<li><a href="#abouttalk">联系我们</a></li>
<li><a href="#aboutjoin">加入我们</a></li>
<li><a href="#aboutrule">网站条款</a></li>
<li><a href="#aboutnew">网站公告</a></li>
</ul>
    
    </div>
    <div class="rightabout">
    <div class="tab-content">

<div class="tab-pane active" id="aboutknow">
<div class="titleabout"><img src="../static/images/aboutwho.png"><h3>我们是谁？做什么？</h3>
<small>Who we are?   What we do？</small>
</div>
<div class="clearboth"></div>
<div class="aboutknowp">
<p>
在哪学网（www.znx.com）创立于2014年6月，是一家专注于学习服务的创新科技企业，主要由来自知名教育
机构的领军人物和百度、阿里、新浪、搜狐等著名互联网公司的顶尖人才组建。
</p>
<p>
跟谁学致力于打造人人乐用的学习服务平台，通过更高效、更智能、更精准地匹配师生资源，为老师及学生提供
多种增值服务和学习工具，全力创建一个专业、简单、智能、安全的高品质学习服务的第三方平台，让学习变得
更加容易、平等和高效。在让跟谁学成为一种生活方式的同时，跟谁学也在全力打造更富活力、更加健康的教育
生态圈，以实现全行业乃至全产业链的共赢。
</p>
<p>
通过移动互联网让教与学变得“更平等、更便捷、更高效”是跟谁学的使命。我们会秉持“用户第一、诚信、简
单、极致、创新”12字核心价值观，与您一起，共同学习，快速成长！
</p>
</div>

</div>
<div class="tab-pane" id="abouttalk">联系我们</div>
<div class="tab-pane" id="aboutjoin">加入我们</div>
<div class="tab-pane" id="aboutrule">网站条款</div>
<div class="tab-pane" id="aboutnew">网站公告</div>
</div>
    </div>
    
    </div>
    
    
    
    
    
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="span3">
                     
<h3>帮助中心</h3>
 
                    <ul class="unstyled">
                        <li><a href="#">平台流程</a>
                        </li>
                    </ul>
                </div>
                <div class="span3">
                     <h3>服务支持</h3>
 
                    <ul class="unstyled">
                        <li><a href="#">意见反馈</a>
                        </li>
                    </ul>
                </div>
                <div class="span3">
                     <h3>关于在哪学</h3>
 
                    <ul class="unstyled">
                        <li><a href="#">了解我们</a>
                        </li>
                        <li><a href="#">联系我们</a>
                        </li>
                        <li><a href="#">加入我们</a>
                        </li>
                        <li><a href="#">活动公告</a>
                        </li>
                        <li><a href="#">活动公告</a>
                        </li>
                    </ul>
                </div>
                <div class="span3">
                    <h3>关注我们</h3>
 
                    <ul class="unstyled">
                        <li><a href="#">官方微信</a>
                        </li>
                        <li><a href="#">官方微博</a>
                        </li>
                    </ul>
                </div>
                <div class="span3" id="footerlogo" style="border:0px;">
                    <a href="#">
                        <img src="../static/images/footerlogo.png">
                    </a>
                </div>
            </div>
        </div>
        <div id="footeradd" class="container" style="height:32px;border: 0px;">
            <div class="footerlink">
                <ul class="unstyled inline">友情链接：
                    <li><a href="#">360导航</a>
                    </li>
                    <li><a href="#">2345导航</a>
                    </li>
                    <li><a href="#">火狐主页</a>
                    </li>
                    <li><a href="#">百度视频</a>
                    </li>
                    <li><a href="#">我赢职场</a>
                    </li>
                    <li><a href="#">华考范文网</a>
                    </li>
                    <li><a href="#">高考咨询会</a>
                    </li>
                    <li><a href="#">一诺留学</a>
                    </li>
                </ul>
            </div>
<span>
Copyright@2014 - 2015 在哪学版权所有. 京公网安备11010802015210号 | 京ICP证14027590号
</span>
 </div>
        </div>
    </div>
</div>
</body>
</html>
<script>
$(function () {
$('#myTab a:first').tab('show'); 
})
</script>