<!DOCTYPE html>
<html>
<head>
  <title>在哪学-报名活动－个人信息 </title>
<link href="../static/css/znx.min.css" rel="stylesheet" media="screen">
  <link href="../static/css/main.css" rel="stylesheet"/>
   
 
  <script src="../static/js/jquery.js" type="text/javascript"></script>
  <script src="../static/js/znx.min.js" type="text/javascript"></script>
  
 
  
<meta charset="utf-8">
</head>
<body>
<div id="wrap">
    <div class="navbar navbar-static-top" id="headnav">
    <div class="navbar-inner ">
      <div class="container">
        <a class="brand" href="#"><img src="../static/images/phonelogo.png"/>手机版在哪学</a>
        <div class="nav-collapse collapse">
          <ul class="nav pull-right">
            <li ><a href="login_choose.html"><img src="../static/images/man.png"/>登录</a></li>
            <li><a href="#reg">注册</a></li>
            <li><a href="#myznx">我的在哪学</a></li>
             <li><span><img src="../static/images/telelogo.png"/>400-91-910</span></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
  <div class="mainhead">
  <div class="container head" id="contenthead">
  <div id="header">
  <img src="../static/images/logo.png" class="logopic"/>
  </div>
  <div class="city">
  <div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    北京
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu" id="citylist">
   <li><a href="#">西安</a></li>
   <li><a href="#">厦门</a></li>
  </ul>
</div>
  </div>
  <div class="headsearch" id="headsearch">
  <form class="form-search">
  <div class="input-append">

    <input type="text" class="search"  placeholder="搜索你要找的培训机构" >
    <button type="submit" class="btn btn-success">搜索</button>
  </div>
</form>
<ul id="searchkey" class="inline unstyled">
<li><a href="#">幼儿早教</a></li>
<li><a href="#">幼儿才艺</a></li>
<li><a href="#">幼儿培训</a></li>
</ul>
</div>
<div class="acte">
<a href="#">
<img src="../static/images/actvit.png"/>
</a>
</div>
  </div>
</div>
    <div id="organregall">
        <div class="container">
             
<h3 >活动报名</h3>
 
            <ul class="breadcrumb">
                
                <li class="active"><a href="activityattend1.html.html">1、个人信息</a>  <span class="divider"><img src="../static/images/lefterr.png"></span>
                </li>
                <li><a href="classattend3.html">2、提交订单</a>
                </li>
            </ul>
            <div id="organregform">
                <form class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label">真实姓名</label>
                        <div class="controls">
                            <input type="text"  class="form-control"  placeholder="请输入真实姓名"/> 
 
                        </div>
                    </div>
                   
                    <div class="control-group">
                        <label class="control-label" >年龄</label>
                        <div class="controls">
                            <input type="text"  class="form-control"  placeholder="输入宝宝年龄"/>
 
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" >性别</label>
                        <select class="form-control-more">
                                <option>男</option>
                                <option>女</option>
                                
                            </select>
                        </div>
                    
                     <div class="control-group">
                        <label class="control-label" >联系电话</label>
                        <div class="controls">
                            <input type="text"  class="form-control"  />
 
                        </div>
                    </div>
                         <div class="control-group">
                        <label class="control-label" >联系地址</label>
                        <div class="controls">
                            <input type="text"  class="form-control"  placeholder="请输入联系地址"/>
 
                        </div>
                    </div>
                    <div class="controls">
                        <button type="submit" class="btn-next">下一步</button>
                    </div>
                </form>
            </div>
        </div>
  </div>
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="span3">
                     
<h3>帮助中心</h3>
 
                    <ul class="unstyled">
                        <li><a href="#">平台流程</a>
                        </li>
                    </ul>
                </div>
                <div class="span3">
                     <h3>服务支持</h3>
 
                    <ul class="unstyled">
                        <li><a href="#">意见反馈</a>
                        </li>
                    </ul>
                </div>
                <div class="span3">
                     <h3>关于在哪学</h3>
 
                    <ul class="unstyled">
                        <li><a href="#">了解我们</a>
                        </li>
                        <li><a href="#">联系我们</a>
                        </li>
                        <li><a href="#">加入我们</a>
                        </li>
                        <li><a href="#">活动公告</a>
                        </li>
                        <li><a href="#">活动公告</a>
                        </li>
                    </ul>
                </div>
                <div class="span3">
                    <h3>关注我们</h3>
 
                    <ul class="unstyled">
                        <li><a href="#">官方微信</a>
                        </li>
                        <li><a href="#">官方微博</a>
                        </li>
                    </ul>
                </div>
                <div class="span3" id="footerlogo" style="border:0px;">
                    <a href="#">
                        <img src="../static/images/footerlogo.png">
                    </a>
                </div>
            </div>
        </div>
        <div id="footeradd" class="container" style="height:32px;border: 0px;">
            <div class="footerlink">
                <ul class="unstyled inline">友情链接：
                    <li><a href="#">360导航</a>
                    </li>
                    <li><a href="#">2345导航</a>
                    </li>
                    <li><a href="#">火狐主页</a>
                    </li>
                    <li><a href="#">百度视频</a>
                    </li>
                    <li><a href="#">我赢职场</a>
                    </li>
                    <li><a href="#">华考范文网</a>
                    </li>
                    <li><a href="#">高考咨询会</a>
                    </li>
                    <li><a href="#">一诺留学</a>
                    </li>
                </ul>
            </div>
<span>
Copyright@2014 - 2015 跟谁学版权所有. 京公网安备11010802015210号 | 京ICP证14027590号
</span>
 
        </div>
    </div>


</div>
</body>
</html>
 <script src="../static/js/user.js" type="text/javascript" ></script>
