{% extends "layout.html" %}
{% block title %}在哪学-活动报名-课程信息 {% endblock title %}
{% block navbar %}
{% include 'head.html' %}
{% endblock navbar %}
{% block content %}


<div id="organregall">
    <div class="container">

        <h3 class="attendtitle2">活动报名下单成功</h3>

        <div id="organregform">
            <div class="attendok">
                <p>亲爱的<span>{{ order.name }}</span>,你参加的由<span>{{ org.name }}</span>组织的活动<span>{{ activity.name }}</span>下单<span>成功</span>,请于 <span>{{ activity.start_time|get_date_time }}</span>
                    到<span>{{ activity.location }} {{ activity.address }}</span>参加。</p>

                <p>现在你可以<a href=" {% if current_user.is_authenticated() %}{{ url_for('user.home') }} {% else %}{{ url_for('main.login') }}{% endif %}">登录后台</a>查看你的订单信息,或者返回<a
                        href="{{ url_for('main.index') }}">首页</a>继续浏览。</p>
            </div>
        </div>
        <hr class="divhr4 hr6">
    </div>

</div>
{% endblock content %}