{% extends "layout.html" %}
{% block title %}在哪学-机构注册-账号注册{% endblock title %}
{% block navbar %}
{% include 'headless.html' %}
{% endblock navbar %}
{% block content %}

<div id="organregall">
    <div class="container">

        <h3>活动报名</h3>

        <ul class="breadcrumb">

            <li class="active"><a href="#">1、个人信息</a> <span class="divider"><img
                    src="{{ url_for('static', filename='images/lefterr.png') }}"></span>
            </li>
            <li><a href="#">2、提交订单</a>
            </li>
        </ul>
        <div id="organregform">
            <form class="form-horizontal" method="post">
                {{ form.hidden_tag() }}
                {{ wtf.form_errors(form) }}
                <div class="control-group">
                    <label class="control-label">真实姓名</label>

                    <div class="controls">
                        <input type="text" name="{{ form.name.name }}" class="form-control" placeholder="请输入真实姓名"/>

                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">年龄</label>

                    <div class="controls">
                        <input type="text" name="{{ form.age.name }}" class="form-control" placeholder="输入宝宝年龄"/>

                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">性别</label>
                    <select name="{{ form.sex.name }}" class="form-control-more ">
                    <option value="1">男</option>
                        <option value="0">女</option>
                    </select>
                </div>

                <div class="control-group">
                    <label class="control-label">联系电话</label>

                    <div class="controls">
                        <input type="text" name="{{ form.cellphone.name }}" class="form-control"/>

                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">联系地址</label>

                    <div class="controls">
                        <input type="text" name="{{ form.address.name }}" class="form-control" placeholder="请输入联系地址"/>

                    </div>
                </div>
                <div class="controls">
                    <button type="submit" class="btn-next">下一步</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}
