<!DOCTYPE html>
<html>
<head>
    <title>在哪学-管理后台</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/znx.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" />
    <script src="{{ url_for('static', filename='js/jquery.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/znx.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/user.js') }}" type="text/javascript"></script>
    <meta charset="utf-8">
</head>
<body>
<div id="wrap">
    <div class="navbar navbar-static-top" id="headnav">
        <div class="navbar-inner ">
            <div class="container">
                <a class="brand" href="#" style="padding: 0 26px;">
                    在哪学运营后台</a>

                <div class="nav-collapse collapse">
                    <ul class="nav pull-right">
                        <li>
                            <a href="{{ url_for('main.index') }}">
                                网站首页
                            </a>
                        </li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <div class="container" id="aboutus" style="margin-top: 0px;">
        <div class="leftabout">
            <ul class="unstyled" id="adminTab">
                <li ><a href="admin_talk.html">用户留言</a></li>
                <li><a href="admin_asklearn.html">求学登记</a></li>
                <li class="active"><a href="admin_origancome.html">机构学校审核</a></li>
                <li><a href="admin_indexactivity.html">首页推荐活动</a></li>
                <li ><a href="admin_indexorigan.html">首页推荐机构</a></li>
            </ul>
        </div>
        <div class="rightabout">
            <div class="tab-content">

                <div class="tab-pane active" id="origancomeadmin">
                    <h3>机构学校审核</h3>
                    <ul class="nav nav-tabs" id="origaninfoTab">
                        <li class="active"><a href="#maininfo">主要信息</a></li>
                        <li><a href="#proveinfo">资质信息</a></li>

                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active" id="maininfo">
                            <ul class="unstyled">
                                <li>注册手机号:{{ org.mobile }}</li>
                                <li>注册时间:{{ org.created|get_date_time }}</li>
                                <li>类型:{{ org.type_id|type }}</li>
                                <li>名称:{{ org.name }}</li>
                                <li>广告语:{{ org.slogan }}</li>
                                <li>官方网站:{{ org.site }}</li>
                                <li>行业:{% for profession in org.get_professions() %} {{ profession.profession }} {% endfor %} </li>
                                <li>适合年龄: {% for age in org.get_ages() %} {{ age.age }} {% endfor %} </li>
                                <li>联系人:{{ org.contact }}</li>
                                <li>联系电话:{{ org.contract_phone }}</li>
                                <li>城市区域: {{ org.location }}</li>
                                <li>详细地址:{{ org.address }}</li>
                                <li>机构简介:{{ org.detail }}</li>
                            </ul>

                        </div>
                        <div class="tab-pane" id="proveinfo">
                            <ul class="unstyled">
                                <li>
                                    <h4>机构营业执照</h4>
                                    <img src="{{ org.authorization|picture }}">
                                </li>

                                <li>
                                    <h4>机构门店照片</h4>
                                    <img src="{{ org.photo|picture }}">
                                </li>
                            </ul>
                            {% if org.is_confirmed %}
                                <a href="{{ url_for('znx_admin.set_confirm', org_id=org.id) }}"><button class="btn  btn-long">已审核通过， 取消审核</button></a>
                            {% else %}
                                <a href="{{ url_for('znx_admin.set_confirm', org_id=org.id) }}"><button class="btn  btn-long">审核通过</button></a>
                            {% endif %}

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>
<script>
    $('#origaninfoTab a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    })
</script>