<!DOCTYPE html>
<html>
<head>
    <title>在哪学-管理后台</title>
    <link href="../static/css/znx.min.css" rel="stylesheet" media="screen">
    <link href="../static/css/main.css" rel="stylesheet"/>
    <script src="../static/js/jquery.js" type="text/javascript"></script>
    <script src="../static/js/znx.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="../static/js/user.js"></script>
    <meta charset="utf-8">
</head>
<body>
<div id="wrap">
    <div class="navbar navbar-static-top" id="headnav">
        <div class="navbar-inner ">
            <div class="container">
                <a class="brand" href="#" style="padding: 0 26px;">
                    在哪学运营后台</a>

                <div class="nav-collapse collapse">
                    <ul class="nav pull-right">
                        <li>
                            <a href="{{ url_for('main.index') }}">
                                网站首页
                            </a>
                        </li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <div class="container" id="aboutus" style="margin-top: 0px;">
    {% set active_page='confirm_list' %}
        {% include 'snippet/admin_nav.html' %}
        <div class="rightabout">
            <div class="tab-content">

                <div class="tab-pane active" id="origancomeadmin">
                    <h3>机构学校审核列表</h3>
                    <ul class="unstyled" id="organlist">
                        {% for org in orgs %}
                        <li>
                            <p><span>机构名称:{{ org.name }}</span><span>入驻状态:{{ org.is_confirmed|is_confirmed }}</span><span>提交审核时间:{{ org.created|get_date_time }}</span></p>

                            <p><span>类型:{{ org.type_id|type }}</span><span>{{ org.location }}</span><span>联系电话:{{ org.mobile }}</span></p>
                            <a href="{{ url_for('znx_admin.confirm', org_id=org.id) }}">
                                <button type="button" class="btn-next adminbtn">详细</button>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% from 'snippet/pagination.html' import pagination_widget %}
                {{ pagination_widget(pagination, 'znx_admin.confirm_list', fragment='#organlist') }}

            </div>
        </div>
    </div>
</div>
</body>
</html>
<script>
    $('#origaninfoTab a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    })
</script>