<!DOCTYPE html>
<html>
<head>
    <title>在哪学-管理后台</title>
    <link href="../static/css/znx.min.css" rel="stylesheet" media="screen">
    <link href="../static/css/main.css" rel="stylesheet"/>
    <script src="../static/js/jquery.js" type="text/javascript"></script>
    <script src="../static/js/znx.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="../static/js/user.js"></script>
    <script type="text/javascript">
        $(function(){
            $(".talktext").val('');
        })
    </script>
    <meta charset="utf-8">
</head>
<body>
<div id="wrap">
    <div class="navbar navbar-static-top" id="headnav">
        <div class="navbar-inner ">
            <div class="container">
                <a class="brand" href="#" style="padding: 0 26px;">
                    在哪学运营后台-用户留言</a>
                <div class="nav-collapse collapse">
                    <ul class="nav pull-right">
                        <li>
                            <a href="{{ url_for('main.index') }}">
                                网站首页
                            </a>
                        </li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <div class="container" id="aboutus" style="margin-top: 0px;">
        <div class="leftabout">
            <ul class="unstyled" id="adminTab">
                <li class="active"><a href="admin_talk.html">用户留言</a></li>
                <li><a href="admin_asklearn.html">求学登记</a></li>
                <li><a href="admin_origancome.html">机构学校审核</a></li>
                <li><a href="admin_indexactivity.html">首页推荐活动</a></li>
                <li ><a href="admin_indexorigan.html">首页推荐机构</a></li>
            </ul>
        </div>
        <div class="rightabout">
            <div class="tab-content">
                <div class="tab-pane active" id="talkadmin">
                    <h3>留言反馈（3条）</h3>

                    <div class="accordion" id="accordion2">
                        {% for chat_group in chat_groups %}
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <ul class="unstyled inline talkadmintop">
                                    <li>手机号：{{ chat_group.mobile }}</li>
                                    <li>机构名：<span>{{ chat_group.org.name }}</span></li>
                                </ul>
                                <ul class="unstyled inline dotalk">
                                <li><a class="accordion-toggle" data-toggle="collapse"
                                       data-parent="#accordion2" href="#collapse{{ loop.index }}">
                                    回复（{{ chat_group.chatlines|length }}）
                                </a>
                                </li>
                                    <li>
                                        <a>已回复</a>
                                    </li>
                                </ul>
                            </div>
                            <div id="collapse{{ loop.index }}" class="accordion-body collapse">
                                <div class="talkcontentmore">
                                    <ul class="unstyled">
                                        {% for chatline in chat_group.chatlines %}
                                        <li><p>{{ chatline.is_user|user_or_admin }}：{{ chatline.content }}</p><span>{{ chatline.source|source }}</span><span class="timeright">时间：{{ chatline.created|get_date_time }}</span></li>
                                        {% endfor %}
                                    </ul>
                                <form class="form-control" action="{{ url_for('admin.chat', unified_id=chat_group.channel.unified_id, orgid=chat_group.channel.organization_id) }}" method="post">
                                    {{ form.hidden_tag() }}
                                    {{ form.content(class="talktext") }}
                                    <button type="submit" class="btn-next talkadminbtn">发送</button>
                                </form>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
