{% extends "layout.html" %}
{% block title %}在哪学-app下载
{% endblock title %}
{% block navbar %}
{% include 'headmore.html' %}
{% endblock navbar %}
{% block content %}

<div id="appdown">
    <a>
        <button class="iosdown" onclick="this.parentNode.click();"></button>
    </a>
    <a href="http://app.znx.com/zainaxue.apk">
        <button class="andorid" onclick="this.parentNode.click();"></button>
    </a>
    <img src="{{ url_for('static', filename='images/appdown1.png') }}" id="appdown1">
</div>

{% endblock content %}
