<!DOCTYPE html>
<html>
<head>
    <title>在哪学-求学登记</title>
    <link href="../static/css/znx.min.css" rel="stylesheet" media="screen">
    <link href="../static/css/main.css" rel="stylesheet"/>
    <script src="../static/js/jquery.js" type="text/javascript"></script>
    <script src="../static/js/znx.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="../static/js/user.js"></script>
    <meta charset="utf-8">
</head>
<body>
<div id="wrap">
<div class="navbar navbar-static-top" id="headnav">
    <div class="navbar-inner ">
        <div class="container">
            <a class="brand" href="#">
                <img src="../static/images/phonelogo.png">手机版在哪学</a>

            <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                    <li>
                        <a href="login_choose.html">
                            <img src="../static/images/man.png">登录</a>
                    </li>
                    <li><a href="#reg">注册</a>
                    </li>
                    <li><a href="#myznx">我的在哪学</a>
                    </li>
                    <li><span><img src="../static/images/telelogo.png">400-91-910</span>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>
<div class="mainhead">
    <div class="container head" id="contenthead">
        <div id="header">
            <img src="../static/images/logo.png" class="logopic">
        </div>
        <div class="city">
            <div class="btn-group"><a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                北京
                <span class="caret"></span>
            </a>

                <ul class="dropdown-menu" id="citylist">
                    <li><a href="#">西安</a>
                    </li>
                    <li><a href="#">厦门</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="headsearch" id="headsearch">
            <form class="form-search">
                <div class="input-append">
                    <input type="text" class="search" placeholder="搜索你要找的培训机构">
                    <button type="submit" class="btn btn-success">搜索</button>
                </div>
            </form>
            <ul id="searchkey" class="inline unstyled">
                <li><a href="#">幼儿早教</a>
                </li>
                <li><a href="#">幼儿才艺</a>
                </li>
                <li><a href="#">幼儿培训</a>
                </li>
            </ul>
        </div>
        <div class="acte">
            <a href="#">
                <img src="../static/images/actvit.png">
            </a>
        </div>
    </div>
    <div class="navbar container" id="navbar">
        <div class="nocolor"><a class="brand span3" href="#" id="navorgan">培训机构
            <i class="icon-chevron-down icon-white" id="iconcheck"></i>
        </a>

            <div id="indexcontent">
                <div class="row">
                    <div class="span3 catalog" id="allnav">
                        <dl class="firsthr">
                            <dt class="text-left">幼儿早教.</dt>

                            <dd>
                                <ul class="inline">
                                    <li><a href="#">中学生课辅</a>
                                    </li>
                                    <li><a href="#">高中生课辅</a>
                                    </li>
                                </ul>
                            </dd>
                        </dl>
                        <dl>
                            <dt class="text-left">少儿培训</dt>

                            <dd>
                                <ul class="inline">
                                    <li><a href="#">中学生课辅</a>
                                    </li>
                                    <li><a href="#">高中生课辅</a>
                                    </li>
                                </ul>
                            </dd>
                        </dl>
                        <dl>
                            <dt class="text-left">青少年课辅</dt>

                            <dd>
                                <ul class="inline">
                                    <li><a href="#">中学生课辅</a>
                                    </li>
                                    <li><a href="#">高中生课辅</a>
                                    </li>
                                </ul>
                            </dd>
                        </dl>
                        <dl>
                            <dt class="text-left">IT培训</dt>

                            <dd>
                                <ul class="inline">
                                    <li><a href="#">中学生课辅</a>
                                    </li>
                                    <li><a href="#">高中生课辅</a>
                                    </li>
                                </ul>
                            </dd>
                        </dl>
                        <dl>
                            <dt class="text-left">外语</dt>

                            <dd>
                                <ul class="inline">
                                    <li><a href="#">中学生课辅</a>
                                    </li>
                                    <li><a href="#">高中生课辅</a>
                                    </li>
                                </ul>
                            </dd>
                        </dl>
                        <dl class="lasthr">
                            <dt class="text-left">外语</dt>

                            <dd>
                                <ul class="inline">
                                    <li><a href="#">中学生课辅</a>
                                    </li>
                                    <li><a href="#">高中生课辅</a>
                                    </li>
                                </ul>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <ul class="nav">
                <li><a href="#">首页</a>
                </li>
                <li><a href="#">平台流程</a>
                </li>
                <li class="act"><a href="#">机构入驻</a>
                </li>
            </ul>
        </div>
    </div>


</div>

<div id="organregall" class="container">
    <div class="askleft">

        <h3 class="asklearntitle"><img src="../static/images/asklearn.png"/>让专业培训顾问帮你选课</h3>

        <div id="asklearnform">
            <form class="form-horizontal">

                <div class="control-group">
                    <label class="control-label">你在哪里</label>
                    <select class="form-control-more">
                        <option>全国</option>
                        <option>西安</option>
                        <option>北京</option>
                        <option>厦门</option>
                    </select>
                </div>
                <div class="control-group">
                    <label class="control-label">你的姓名</label>

                    <div class="controls">
                        <input type="text" class="form-control"/>

                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">你的手机号</label>

                    <div class="controls">
                        <input type="text" class="form-control"/>

                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">想学什么</label>

                    <div class="controls">
                        <textarea rows="4" class="form-textarea"></textarea>

                    </div>
                </div>
                <div class="controls">
                    <button type="submit" class="btn-next askbtn">立即开始</button>
                </div>
            </form>
        </div>
    </div>
    <div class="askright" id="askright">
        <div class="learnreason">
            <h3>为什么上在哪学求学</h3>
            <hr>
            <ul class="unstyled">
                <li>
                    <img src="../static/images/learnwhy1.png" class="img-circle"/>

                    <div><h4>认证学校</h4>

                        <p>在哪学推荐的都是经过认证的学校，已核实营业执照和办学许可证，并签约了诚信合作协议。</p>
                    </div>
                </li>
                <li>
                    <img src="../static/images/learnwhy2.png" class="img-circle"/>

                    <div><h4>省时省心</h4>

                        <p>在哪学推荐的都是经过认证的学校，已核实营业执照和办学许可证，并签约了诚信合作协议。</p>
                    </div>
                </li>
                <li>
                    <img src="../static/images/learnwhy32.png" class="img-circle"/>

                    <div><h4>点评奖金</h4>

                        <p>在哪学推荐的都是经过认证的学校，已核实营业执照和办学许可证，并签约了诚信合作协议。</p>
                    </div>
                </li>
            </ul>

        </div>
        <div class="newasklearn">
            <h3>最新求学信息<img src="../static/images/hot.png"></h3>

            <ul class="unstyled">
                <li><span>10-17 15:48:23</span><span>李同学</span><span>188xxxx6604</span><span>电脑维修</span>
                </li>
                <li><span>10-17 15:48:23</span><span>李同学</span><span>188xxxx6604</span><span>电脑维修</span>
                </li>
                <li><span>10-17 15:48:23</span><span>李同学</span><span>188xxxx6604</span><span>电脑维修</span>
                </li>
                <li><span>10-17 15:48:23</span><span>李同学</span><span>188xxxx6604</span><span>电脑维修</span>
                </li>
                <li><span>10-17 15:48:23</span><span>李同学</span><span>188xxxx6604</span><span>电脑维修</span>
                </li>
                <li><span>10-17 15:48:23</span><span>李同学</span><span>188xxxx6604</span><span>电脑维修</span>
                </li>
            </ul>

        </div>


    </div>
</div>


<div id="footer">
    <div class="container">
        <div class="row">
            <div class="span3">

                <h3>帮助中心</h3>

                <ul class="unstyled">
                    <li><a href="#">平台流程</a>
                    </li>
                </ul>
            </div>
            <div class="span3">
                <h3>服务支持</h3>

                <ul class="unstyled">
                    <li><a href="#">意见反馈</a>
                    </li>
                </ul>
            </div>
            <div class="span3">
                <h3>关于在哪学</h3>

                <ul class="unstyled">
                    <li><a href="#">了解我们</a>
                    </li>
                    <li><a href="#">联系我们</a>
                    </li>
                    <li><a href="#">加入我们</a>
                    </li>
                    <li><a href="#">活动公告</a>
                    </li>
                    <li><a href="#">活动公告</a>
                    </li>
                </ul>
            </div>
            <div class="span3">
                <h3>关注我们</h3>

                <ul class="unstyled">
                    <li><a href="#">官方微信</a>
                    </li>
                    <li><a href="#">官方微博</a>
                    </li>
                </ul>
            </div>
            <div class="span3" id="footerlogo" style="border:0px;">
                <a href="#">
                    <img src="../static/images/footerlogo.png">
                </a>
            </div>
        </div>
    </div>
    <div id="footeradd" class="container" style="height:32px;border: 0px;">
        <div class="footerlink">
            <ul class="unstyled inline">友情链接：
                <li><a href="#">360导航</a>
                </li>
                <li><a href="#">2345导航</a>
                </li>
                <li><a href="#">火狐主页</a>
                </li>
                <li><a href="#">百度视频</a>
                </li>
                <li><a href="#">我赢职场</a>
                </li>
                <li><a href="#">华考范文网</a>
                </li>
                <li><a href="#">高考咨询会</a>
                </li>
                <li><a href="#">一诺留学</a>
                </li>
            </ul>
        </div>
<span>
Copyright@2014 - 2015 在哪学版权所有. 京公网安备11010802015210号 | 京ICP证14027590号
</span>
    </div>
</div>
</div>
</div>
</body>
</html>
