{% extends "layout.html" %}
{% block title %}在哪学-免费试听课程报名-课程信息 {% endblock title %}
{% block navbar %}
{% include 'head.html' %}
{% endblock navbar %}
{% block content %}


<div id="organregall">
    <div class="container">

        <h3 class="attendtitle">免费试听课程报名</h3>

        <ul class="breadcrumb">
            <li><a href="#">1、课程信息</a> <span class="divider"><img
                    src="{{ url_for('static', filename='images/lefterr.png') }}"></span>
            </li>
            <li><a href="#">2、个人信息</a> <span class="divider"><img
                    src="{{ url_for('static', filename='images/lefterr.png') }}"></span>
            </li>
            <li class="active"><a href="#">3、提交订单</a>
            </li>
        </ul>
        <div id="organregform">
            <form class="form-horizontal" method="post">
            {{ form.hidden_tag() }}
            {{ wtf.form_errors(form) }}
                <div class="control-group">
                    <label class="control-label">真实姓名</label>

                    <div class="controls">
                        <input type="text" class="form-control" value="{{ order.name }}"/>

                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">年龄</label>

                    <div class="controls">
                        <input type="text" class="form-control" value="{{ order.age }}"/>

                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">学员性别</label>

                    <div class="controls">
                        <select class="form-control">
                            {% if order.sex %}
                                <option value="1">男</option>
                            {% else %}
                                <option value="0">女</option>
                            {% endif %}

                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">联系电话</label>

                    <div class="controls">
                        <input type="text" class="form-control" value="{{ order.mobile }}"/>

                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">电子邮箱</label>

                    <div class="controls">
                        <input type="text" class="form-control" value=""/>

                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">课程名称</label>

                    <div class="controls">
                        <input type="text" class="form-control" value="{{ course.name }}"/>

                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">试听时间</label>

                    <div class="controls">
                        <input type="text" class="form-control" value="{{ order.get_time() }}"/>

                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">备注</label>

                    <div class="controls">
                        <textarea rows="4" name="{{ form.remark.name }}" class="form-textarea" placeholder="请填写你期望开设的课程"></textarea>

                    </div>
                </div>
                <div class="controls">
                    <button type="submit" class="btn-next">提交订单</button>
                </div>
            </form>
        </div>
    </div>

</div>
{% endblock content %}