{% extends "layout.html" %}
{% block title %}在哪学-免费试听课程报名-课程信息 {% endblock title %}
{% block navbar %}
{% include 'head.html' %}
{% endblock navbar %}
{% block content %}


<div id="organregall">
    <div class="container">

        <h3 class="attendtitle1">免费试听课程报名下单成功</h3>

        <div id="organregform">
            <div class="attendok">
                <p>亲爱的<span>{{ order.name }}</span>,你的免费试听课程<span>{{ course.name }}</span>下单成功,请于{{ order.get_time()
                    }}到<span>{{ org.location }} {{ org.address }}</span>的<span>{{ org.name }}</span>参加。</p>

                <p>现在你可以<a href="{{ url_for('main.login') }}">登录后台</a>查看你的订单信息,或者返回<a
                        href="{{ url_for('main.index') }}">首页</a>继续浏览。</p>
            </div>
        </div>
        <hr class="divhr4 hr6">
    </div>

</div>
{% endblock content %}