<!DOCTYPE html>
<html>
<head>
    <title>在哪学-留言建议</title>
    <link href="../static/css/znx.min.css" rel="stylesheet" media="screen">
    <link href="../static/css/main.css" rel="stylesheet"/>
    <script src="../static/js/jquery.js" type="text/javascript"></script>
    <script src="../static/js/znx.min.js" type="text/javascript"></script>
    <script src="../static/js/user.js" type="text/javascript"></script>
    <meta charset="utf-8">
</head>
<body>
<div id="wrap">
    <div class="navbar navbar-static-top" id="bigheadnav">
        <div class="navbar-inner ">
            <div class="container">
                <a class="bigbrand" href="index.html">
                    <img src="../static/images/biglogo.png">
                </a>

                <div class="bignavright">
                    <ul class="inline unstyled">
                        <li>hi欢迎来带在哪学! <a href="login_choose.html">请登录</a>
                        </li>
                        <li style="color: #E2E1DE;">|</li>
                        <li>
                            <img src="../static/images/returnhome.png"><a href="index.html">回到首页</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="guestbook">
        <form class="form-horizontal" method="post">
            <h3><img src="../static/images/proposal.png"/></h3>

            <div class="controls">
                <textarea rows="8" class="form-textarea"></textarea>
            </div>
            <div class="controls"><input type="text" placeholder="QQ号/邮箱/手机号" class="form-control longqq"/></div>
            <div class="controls">
                <span>这个很重要，方便我们第一时间联系你，帮你及时解决问题！</span>
            </div>
            <div class="controls">
                <button type="submit" class="btn-next guestbtn">写好了，提交</button>
            </div>
        </form>
    </div>
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="span3">
                    <h3>帮助中心</h3>
                    <ul class="unstyled">
                        <li><a href="#">平台流程</a>
                        </li>
                    </ul>
                </div>
                <div class="span3">
                    <h3>服务支持</h3>

                    <ul class="unstyled">
                        <li><a href="#">意见反馈</a>
                        </li>
                    </ul>
                </div>
                <div class="span3">
                    <h3>关于在哪学</h3>

                    <ul class="unstyled">
                        <li><a href="#">了解我们</a>
                        </li>
                        <li><a href="#">联系我们</a>
                        </li>
                        <li><a href="#">加入我们</a>
                        </li>
                        <li><a href="#">活动公告</a>
                        </li>
                        <li><a href="#">活动公告</a>
                        </li>
                    </ul>
                </div>
                <div class="span3">
                    <h3>关注我们</h3>

                    <ul class="unstyled">
                        <li><a href="#">官方微信</a>
                        </li>
                        <li><a href="#">官方微博</a>
                        </li>
                    </ul>
                </div>
                <div class="span3" id="footerlogo" style="border:0px;">
                    <a href="#">
                        <img src="../static/images/footerlogo.png">
                    </a>
                </div>
            </div>
        </div>
        <div id="footeradd" class="container" style="height:32px;border: 0px;">
            <div class="footerlink">
                <ul class="unstyled inline">友情链接：
                    <li><a href="#">360导航</a>
                    </li>
                    <li><a href="#">2345导航</a>
                    </li>
                    <li><a href="#">火狐主页</a>
                    </li>
                    <li><a href="#">百度视频</a>
                    </li>
                    <li><a href="#">我赢职场</a>
                    </li>
                    <li><a href="#">华考范文网</a>
                    </li>
                    <li><a href="#">高考咨询会</a>
                    </li>
                    <li><a href="#">一诺留学</a>
                    </li>
                </ul>
            </div>
<span>
Copyright@2014 - 2015 在哪学版权所有. 京公网安备11010802015210号 | 京ICP证14027590号
</span>

        </div>
    </div>
</div>
</body>
</html>
