<div class="mainuserhead">
    <div class="container head" id="userindexhead">
        <div id="header">
            <a class="bigbrand" href="{{ url_for('main.index') }}">
                <img src="{{ url_for('static', filename='images/logo.jpg') }}" class="logopic">
            </a>
        </div>
        <div class="titleright">
            <h1>
                {% if current_user.is_org() %}
                机构后台中心
               {% else %}
                用户中心
                {% endif %}
              </h1>
        </div>
        <div class="indexright"><a
                href="{{ url_for('main.index') }}"><img src="{{ url_for('static', filename='images/returnhome.png') }}">回到首页</a>
        </div>

    </div>
</div>