
    <div class="navbar navbar-static-top" id="bigheadnav">
        <div class="navbar-inner ">
            <div class="container">
                <a class="bigbrand" href="{{ url_for('main.index') }}">
                    <img src="{{ url_for('static', filename='images/biglogo.png') }}">
                </a>
                <div class="bignavright">
                    <ul class="inline unstyled">
                     {% if current_user.is_authenticated() %}
                      <li>hi{{current_user.get_name()}}欢迎来到在哪学!</li>
                          <li style="color: #E2E1DE;">|</li>
                        <li>  <a href="{{ url_for('main.mine') }}">我的在哪学</a>
                        </li>
                        <li style="color: #E2E1DE;">|</li>
                         <li><a href="{{ url_for('main.loginout') }}">登出</a>
                        </li>
                
                        <li style="color: #E2E1DE;">|</li>
							{% else %}
                        <li>hi欢迎来带在哪学!</li>
                          <li style="color: #E2E1DE;">|</li>
                        <li>  <a href="{{ url_for('main.login') }}">登录</a>
                        </li>
                        <li style="color: #E2E1DE;">|</li>
                         <li><a href="{{ url_for('main.reg') }}">注册</a>
                        </li>
                
                        <li style="color: #E2E1DE;">|</li>
                                {% endif %}
                  {% if current_user.is_authenticated() %}
						<li> <a href="{{ url_for('main.mine') }}">{{current_user.get_name()}}</a>的在哪学</li>
                          <li style="color: #E2E1DE;">|</li>
                   
                        <li style="color: #E2E1DE;">|</li>
                         <li><a href="{{ url_for('main.loginout') }}">登出</a>
                        </li>
                
                        <li style="color: #E2E1DE;">|</li>
							{% else %}
                        <li>hi欢迎来带在哪学!</li>
                         <li style="color: #E2E1DE;">|</li>
                        <li>  <a href="{{ url_for('main.login') }}">请登录</a>
                        </li>
                        <li style="color: #E2E1DE;">|</li>
                         <li><a href="{{ url_for('main.reg') }}">注册</a>
                        </li>
                
                        <li style="color: #E2E1DE;">|</li>
                                {% endif %}
           
                
                        <li>
                            <img src="{{ url_for('static', filename='images/returnhome.png') }}"><a href="{{ url_for('main.index') }}">回到首页</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
   

