<div class="mainhead">
    <div class="container head" id="contenthead">
        <div id="header">
            <a class="bigbrand" href="{{ url_for('main.index') }}">
                <img src="{{ url_for('static', filename='images/logo.png') }}" class="logopic">
            </a>
        </div>
        <div class="city">
            <div class="btn-group"><a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                北京
                <span class="caret1"><img src="{{ url_for('static', filename='images/citybtn.png') }}"/> </span>
            </a>

                <ul class="dropdown-menu" id="citylist">
                    <li><a href="#">西安</a>
                    </li>
                    <li><a href="#">厦门</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="headsearch" id="headsearch">
            <form class="form-search">
                <div class="input-append">
                    <input type="text" class="search" placeholder="搜索你要找的培训机构">
                    <button type="submit" class="btn btn-success">搜索</button>
                </div>
            </form>
            <ul id="searchkey" class="inline unstyled">
                <li><a href="#">幼儿早教</a>
                </li>
                <li><a href="#">幼儿才艺</a>
                </li>
                <li><a href="#">幼儿培训</a>
                </li>
            </ul>
        </div>
        <div class="acte">
            <a href="#">
                <img src="{{ url_for('static', filename='images/actvit.png') }}">
            </a>
        </div>
    </div>
    <div class="navbar container" id="navbar">
        <div class="nocolor"><a class="brand span3" href="#" id="navorgan">培训机构
            <i class="icon-chevron-down icon-white" id="iconcheck"></i>
        </a>

            <div id="indexcontent">
                <div class="row">
                    <div class="span3 catalog" id="allnav" >
                        <dl class="firsthr">
                            <dt class="text-left">幼儿早教.</dt>

                            <dd>
                                <ul class="inline">
                                    <li><a href="#">中学生课辅</a>
                                    </li>
                                    <li><a href="#">高中生课辅</a>
                                    </li>
                                </ul>
                            </dd>
                        </dl>
                        <dl>
                            <dt class="text-left">少儿培训</dt>

                            <dd>
                                <ul class="inline">
                                    <li><a href="#">中学生课辅</a>
                                    </li>
                                    <li><a href="#">高中生课辅</a>
                                    </li>
                                </ul>
                            </dd>
                        </dl>
                        <dl>
                            <dt class="text-left">青少年课辅</dt>

                            <dd>
                                <ul class="inline">
                                    <li><a href="#">中学生课辅</a>
                                    </li>
                                    <li><a href="#">高中生课辅</a>
                                    </li>
                                </ul>
                            </dd>
                        </dl>
                        <dl>
                            <dt class="text-left">IT培训</dt>

                            <dd>
                                <ul class="inline">
                                    <li><a href="#">中学生课辅</a>
                                    </li>
                                    <li><a href="#">高中生课辅</a>
                                    </li>
                                </ul>
                            </dd>
                        </dl>
                        <dl>
                            <dt class="text-left">外语</dt>

                            <dd>
                                <ul class="inline">
                                    <li><a href="#">中学生课辅</a>
                                    </li>
                                    <li><a href="#">高中生课辅</a>
                                    </li>
                                </ul>
                            </dd>
                        </dl>
                        <dl class="lasthr">
                            <dt class="text-left">外语</dt>

                            <dd>
                                <ul class="inline">
                                    <li><a href="#">中学生课辅</a>
                                    </li>
                                    <li><a href="#">高中生课辅</a>
                                    </li>
                                </ul>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <ul class="nav">
                <li ><a href="{{ url_for('main.index') }}">首页</a>
                </li>
                <li><a href="{{ url_for('main.workflow') }}">平台流程</a>
                </li>
                <li><a href="{{ url_for('main.join') }}">机构入驻</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<hr class="longhr"/>