<div class="mainhead">
    <div class="container head" id="contenthead">
        <div id="header">
            <a class="bigbrand" href="{{ url_for('main.index') }}">
                <img src="{{ url_for('static', filename='images/logo.jpg') }}" class="logopic">
            </a>
        </div>
        <div class="city">
            <div class="btn-group"><a class="btn dropdown-toggle" data-toggle="dropdown" href="#" id="locacity">{{
                session.get('city_id', 2)|city }}<span class="caret1"><img
                        src="{{ url_for('static', filename='images/citybtn.png') }}"/> </span>
            </a>

                <ul class="dropdown-menu" id="citylist">
                    {% for city in cities %}
                        <li><a href="{{ url_for('main.change_city', city_id=city.id) }}">{{ city.city }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="headsearch" id="headsearch">
            <form class="form-search" action="{{ url_for('main.search') }}">
                <div class="input-append">
                    <input class="search"  id="searchiput"  placeholder="搜索你要找的培训机构" type="search"
                            name="name">
                    <button type="submit" class="btn btn-success" id="searchbtn">搜索</button>
                </div>
            </form>
            <ul id="searchkey" class="inline unstyled">
                <li><a href="#">教育</a>
                </li>
                <li><a href="#">培训中心</a>
                </li>
                <li><a href="#">少儿英语</a>
                </li>
            </ul>
        </div>
        <div class="acte">
            <a href="#">
                <img src="{{ url_for('static', filename='images/actvit.png') }}">
            </a>
        </div>
    </div>
    <div class="navbar container" id="navbar">
        <div class="nocolor"><a class="brand span3" href="#" id="navorgan">培训机构
            <i class="icon-chevron-down icon-white" id="iconcheck"></i>
        </a>

            <div id="indexcontent">
                <div class="row">
                    <div class="span3 catalog" id="allnav" >
                        {% for profession in professions %}
                        <dl>
                            <dt class="text-left"><a
                                    href="{{ url_for('main.search', profession_id=profession.id) }}">{{ profession.profession }}</a></dt>
                        </dl>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <ul class="nav">
                <li ><a href="{{ url_for('main.index') }}">首页</a>
                </li>
                <li><a href="{{ url_for('main.workflow') }}">平台流程</a>
                </li>
                <li><a href="{{ url_for('main.join') }}">机构入驻</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<hr class="longhr"/>