{% extends "layout.html" %}
{% block title %}在哪学-首页{% endblock title %}
{% block navbar %}
{% include 'headmore.html' %}
{% endblock navbar %}
{% block content %}
<div class="container" id="contentright">
    <div class="row">
        <div class="span3"></div>
        <div class="span5" id="piclist">
            <div id="myCarousel" class="carousel slide">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="active item">
                        <a href="#">
                            <img src="{{ url_for('static', filename='images/01.png') }}">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="{{ url_for('static', filename='images/02.png') }}">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="{{ url_for('static', filename='images/03.png') }}">
                        </a>
                    </div>
                </div>
                <!-- Carousel nav --> <a class="carousel-control left" href="#myCarousel" data-slide="prev"></a>
                <a class="carousel-control right" href="#myCarousel" data-slide="next"></a>

            </div>
            <div id="organlistpic">
                <ul class="inline-block unstyled">
                    <li>
                        <a href="#">
                            <img src="{{ url_for('static', filename='images/04.png') }}">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="{{ url_for('static', filename='images/05.png') }}">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="{{ url_for('static', filename='images/06.png') }}">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="span4" id="asklearn">
            <h4><span>求学信息登记</span><img src="{{ url_for('static', filename='images/hot.png') }}"></h4>
            <ul class="unstyled">
                {% for register in registers %}
                <li>
                    <h5>{{ register.need }}</h5>

                    <p><span class="regname">{{ register.name|anonymous_name }}</span><span class="regmob">{{ register.mobile|anonymous_mobile }}</span><span
                            class="regtime">{{ register.get_date() }}</span></p>
                </li>
                {% endfor %}
            </ul>
            <a href="{{ url_for('.learn') }}" class="abtn">
                <button type="submit" class="btn-qxdj"></button>
            </a>
        </div>
    </div>
</div>
{% for org_row in orgs %}
<div id="floor1">
    <div class="container">

        <h3>{{ professions_list[loop.index0].profession }}</h3>

        <div class="clearboth"></div>
        <ul class="inline unstyled">
            {% for org in org_row %}
            <li>
                <div class="floorpic">
                    <a href="{{ url_for('org.home', id=org.id) }}">
                        <img src="{{ org.photo|picture }}"
                             onerror="javascript:this.src='{{ url_for('static', filename='images/footerlogo.png') }}'">
                    </a>
                </div>
                <div class="floordec">
                    <span><a href="{{ url_for('org.home', id=org.id) }}">{{ org.name|truncate(12, true) }}</a></span>

                    <address><img src="{{ url_for('static', filename='images/place.png') }}">{{ org.location }}
                    </address>

                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endfor %}
<div id="floorp">
    <div class="container">

        <h3>平台交流</h3>

        <ul class="inline unstyled">
            <li>
                <div class="picstep">
                    <a href="">
                        <img src="{{ url_for('static', filename='images/step1.png') }}">
                    </a>

                    <div class="stepcont">
                        <span>1、搜索机构</span>

                        <p> 在种类丰富的培训机构中，你可以按照多种条件进行筛选（如区域类型、类型），找到心仪的机构。众多机构，总有适合你的。</p>
                    </div>
                </div>
                <div class="arrstep">
                    <img src="{{ url_for('static', filename='images/steparr.png') }}">
                </div>
            </li>
            <li>
                <div class="picstep">
                    <a href="">
                        <img src="{{ url_for('static', filename='images/step2.png') }}">
                    </a>

                    <div class="stepcont">
                        <span>2、寻找课程、活动</span>

                        <p> 在机构众多的课程、活动中选择最适合自己孩子的课程、活动，可以同客服聊天、拨打400电话等对机构进行深入的了解，万千课程、活动供您选择。
                        </p>
                    </div>
                </div>
                <div class="arrstep">
                    <img src="{{ url_for('static', filename='images/steparr.png') }}">
                </div>
            </li>
            <li>
                <div class="picstep">
                    <a href="">
                        <img src="{{ url_for('static', filename='images/step3.png') }}">
                    </a>

                    <div class="stepcont">
                        <span>3、预约报名</span>

                        <p> 对于满意的课程、活动，用户可以在平台上进行预约报名，我们第一时间把您的需求递交给机构，让您获得最快的反馈。</p>
                    </div>
                </div>
                <div class="arrstep">
                    <img src="{{ url_for('static', filename='images/steparr.png') }}">
                </div>
            </li>
            <li>
                <div class="picstep">
                    <a href="">
                        <img src="{{ url_for('static', filename='images/step4.png') }}">
                    </a>

                    <div class="stepcont">
                        <span>4、机构评价</span>

                        <p>用户在平台上可以看到其他用户对机构的评级，亦可对机构进行评价，大量真实、详细的评价帮您选择最适合最适合您孩子的机构。
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
{% endblock content %}
{% block inscript %}
<script type="text/javascript">
    $("#allnav").css('display', 'block');
    $("#iconcheck").hide();
    $(function () {
        $("#navorgan").click(function () {
            $("#allnav").css('display', 'block');
            return false;
        })
    })
    $(function () {
        $("#navbar ul.nav li:first-child").addClass('act');
    })
    $(document).ready(function () {
        var locacity = $.trim($("#locacity").text());
        var strCookie = document.cookie;
        var arrCookie = strCookie.split("; ");
        var cityname;
        for (var i = 0; i < arrCookie.length; i++) {
            var arr = arrCookie[i].split("=");
            if ("cityname" == arr[0]) {
                cityname = arr[1];
                break;
            }
        }
        //alert(locacity);
        if (cityname != locacity) {
            //  alert("da");
            //  alert("da");
            jQuery.getScript("http://int.dpool.sina.com.cn/iplookup/iplookup.php?format=js", function () {
                // alert("province : "+remote_ip_info.province+", city : "+remote_ip_info.city);
                var nowcityname = remote_ip_info.city;
                // var nowcityname = "深圳";
                document.cookie = "cityname=" + nowcityname;
                var citylen = $("#citylist li").length;
                $("#citylist li").each(function (index) {
                    if ($(this).children().text() == nowcityname) {
                        location.href = $(this).children().attr('href');
                    }
                })
            });
        }
        else {
            return false;
        }
    });
</script>
{% endblock inscript %}
