<!DOCTYPE html>
{% import "bootstrap/wtf.html" as wtf %}
{% import "snippet/field_error.html" as helper %}
<html {% block html_attribs %}{% endblock html_attribs %}>
{% block html %}
<head>
    {% block head %}
    <title>{% block title %}{% endblock title %}</title>

    {% block metas %}
    <meta charset="utf8">
    {% endblock metas %}

    {% block styles %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/znx.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" />
    {% endblock styles %}
    {% endblock head %}
</head>
<body {% block body_attribs %}{% endblock body_attribs %}>

{% block body %}
{% block wrap %}
<div id="wrap">
    {% block tophead %}
    <div class="navbar navbar-static-top" id="headnav">
        <div class="navbar-inner ">
            <div class="container">
                <a class="brand" href="{{ url_for('main.download') }}">
                    <img src="{{ url_for('static', filename='images/phonelogo.png') }}">手机版在哪学</a>

                <div class="nav-collapse collapse">
                    <ul class="nav pull-right">
                        {% if current_user.is_authenticated() %}
                        {% if current_user.is_org() %}
                        <li><a href="{{ url_for('org.course_list') }}"><span>{{current_user.get_name()}}</span>的在哪学</a></li>
                        {% else %}
                        <li><a href="{{ url_for('user.home') }}"><span>{{current_user.get_name()}}</span>的在哪学</a></li>
                        {% endif %}
                        <li style="color: #E2E1DE;">|</li>
                        <li><a href="{{ url_for('main.logout') }}">登出</a>
                        </li>
                        {% else %}
                        <li>
                            <a href="{{ url_for('main.login') }}">
                                <img src="{{ url_for('static', filename='images/man.png') }}">登录</a>
                        </li>
                        <li><a href="{{ url_for('main.register') }}">注册</a>
                        </li>
                        {% endif %}


                        <li><span><img src="{{ url_for('static', filename='images/telelogo.png') }}">400-91-910</span>
                        </li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
    {% endblock tophead %}
    {% block navbar %}

    {% endblock navbar %}
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
    {% endfor %}
    {% block content %}
    {% endblock content %}
    {% block footer %}
    <div id="goup"></div>
    <hr class="footerhr"/>
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="span3">

                    <h3>帮助中心</h3>

                    <ul class="unstyled">
                        <li><a href="{{ url_for('main.workflow') }}">平台流程</a>
                        </li>
                    </ul>
                </div>
                <div class="span3">
                    <h3>服务支持</h3>

                    <ul class="unstyled">
                        <li><a href="{{ url_for('main.report')}}">意见反馈</a>
                        </li>
                    </ul>
                </div>
                <div class="span3">
                    <h3>关于在哪学</h3>

                    <ul class="unstyled" id="aboutall">
                     <li><a href="{{ url_for('main.about_us',about=1)}}">了解我们</a>
                        </li>
                        <li><a href="{{ url_for('main.about_us', about=2) }}">联系我们</a>
                        </li>
                        <li><a href="{{ url_for('main.about_us',about=3) }}">加入我们</a>
                        </li>
                        <li><a href="{{ url_for('main.about_us',about=4) }}">网站条款</a>
                        </li>
                        <li><a href="{{ url_for('main.about_us' ,about=5) }}">活动公告</a>
                        </li>
                     </ul>
                    </div>
                <div class="span3">
                    <h3>关注我们</h3>

                    <ul class="unstyled">
                        <li><a href="#">官方微信</a>
                        </li>
                        <li><a href="#">官方微博</a>
                        </li>
                    </ul>
                </div>
                <div class="span3" id="footerlogo" style="border:0px;">
                    <a href="{{ url_for('main.index') }}">
                        <img src="{{ url_for('static', filename='images/footerlogo.png') }}">
                    </a>
                </div>
            </div>
        </div>
        <div id="footeradd" class="container" style="height:32px;border: 0px;">
            <div class="footerlink">
                <ul class="unstyled inline">友情链接：
                    <li><a href="#">360导航</a>
                    </li>
                    <li><a href="#">2345导航</a>
                    </li>
                    <li><a href="#">火狐主页</a>
                    </li>
                    <li><a href="#">百度视频</a>
                    </li>
                    <li><a href="#">我赢职场</a>
                    </li>
                    <li><a href="#">华考范文网</a>
                    </li>
                    <li><a href="#">高考咨询会</a>
                    </li>
                    <li><a href="#">一诺留学</a>
                    </li>
                </ul>
            </div>
<span>
Copyright@2014 - 2015 跟谁学版权所有. 京公网安备11010802015210号 | 京ICP证14027590号
</span>
        </div>
    </div>
    {% endblock footer %}
    </div>
        {% endblock wrap %}

        {% block scripts %}
         <!--[if lt IE 9]--><script src=" http://html5shiv.googlecode.com/svn/trunk/html5.js "></script ><!--[endif]-->
        <script src="{{ url_for('static', filename='js/jquery.js') }}" type="text/javascript"></script>
        <script src="{{ url_for('static', filename='js/znx.min.js') }}" type="text/javascript"></script>
       <script src="{{ url_for('static', filename='js/returntop.js') }}" type="text/javascript"></script>
        <script src="{{ url_for('static', filename='js/user.js') }}" type="text/javascript"></script>
        {% endblock scripts %}
        {% block inscript %}
        {% endblock inscript %}
        {% endblock body %}
        </body>
        {% endblock html %}
        </html>
