<!DOCTYPE html>
<html>
<head>
  <title>机构个人主页</title>
 <link href="../static/css/znx.min.css" rel="stylesheet" media="screen">
  <link href="../static/css/main.css" rel="stylesheet"/>
  <script src="../static/js/jquery.js" type="text/javascript"></script>
  <script src="../static/js/znx.min.js" type="text/javascript"></script>
 
<meta charset="utf-8">
</head>
<body>
<div id="wrap">
<div class="navbar navbar-static-top" id="headnav">
    <div class="navbar-inner ">
      <div class="container">
        <a class="brand" href="#"><img src="../static/images/phonelogo.png"/>手机版在哪学</a>
        <div class="nav-collapse collapse">
          <ul class="nav pull-right">
            <li ><a href="login_choose.html"><img src="../static/images/man.png"/>登录</a></li>
            <li><a href="#reg">注册</a></li>
            <li><a href="#myznx">我的在哪学</a></li>
             <li><span><img src="../static/images/telelogo.png"/>400-91-910</span></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
  <div class="mainhead">
  <div class="container head" id="contenthead">
  <div id="header">
  <img src="../static/images/logo.png" class="logopic"/>
  </div>
  <div class="city">
  <div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    北京
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu" id="citylist">
   <li><a href="#">西安</a></li>
   <li><a href="#">厦门</a></li>
  </ul>
</div>
  </div>
  <div class="headsearch" id="headsearch">
  <form class="form-search">
  <div class="input-append">

    <input type="text" class="search"  placeholder="搜索你要找的培训机构" >
    <button type="submit" class="btn btn-success">搜索</button>
  </div>
</form>
<ul id="searchkey" class="inline unstyled">
<li><a href="#">幼儿早教</a></li>
<li><a href="#">幼儿才艺</a></li>
<li><a href="#">幼儿培训</a></li>
</ul>
</div>
<div class="acte">
<a href="#">
<img src="../static/images/actvit.png"/>
</a>
</div>
  </div>
</div>
<div class="container" id="myorgan">

<div class="myhead">
<div class="headtitle">
<div class="organlogo"><img src="../static/images/organlogo.png" class="img-circle img-polaroid"/> </div>
<div class="organname">
<dl>
  <dt><span>蓝翔技校</span><address><img src="../static/images/organindex.png"/>http://www.lxjx.cn</address></dt>
  <dd>——学技术，就到山东蓝翔高级技工学校</dd>
</dl>
</div>
</div>
<div class="headdes">
<div class="organmoredec">
<span class="organview"><i class="icon-eye-open"></i>1233</span>
<span class="organtalk"><i class="icon-comment"></i>3</span><br/>
<span class="organplace"><i class=" icon-map-marker"></i>北京市-昌平区</span>
</div>

<div class="threesmall">
<span><i class=" icon-star"></i>收藏</span>
<span><i class="  icon-share"></i>分享</span>
<span id="editwrong"><i class=" icon-edit"></i><a href="#myeditwrong" role="button"  data-toggle="modal">纠错</a></span>
</div>
<div id="myeditwrong" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="mywrongLabel">我要纠错</h3>
  </div>
  <div class="modal-body">
 <form action="#" method="post" class="form-horizontal"/>
 <div class="control-group">
             <h4>请留言</h4>
                          <textarea rows="5" class="form-textarea" id="wrongtext"></textarea> 
                         
                        </div>
 </form>
  </div>
  <div class="modal-footer">
    <button class="btn-next nomargin" type="submit">提交</button>
  </div>
</div>
<div class="clearboth"></div>
<div class="organtotal">
<ul class="unstyled inline">
<li class="organknown">
<span><img src="../static/images/organknow1.png"/></span>
<span><img src="../static/images/organknow2.png"/></span>
<span><img src="../static/images/organknow3.png"/></span></br>
<span class="lastspan"><div class="revinp">
				<span class="level">
					<i class="level_solid" ></i>
					<i class="level_solid" ></i>
					<i class="level_solid" ></i>
					<i class="level_solid" ></i>
					<i class="level_hollow" ></i>
				</span>
				
			</div></span>
</li>
<li><span>54</span>
<p>报名总数（人）</p></li>
<li><span>54</span>
<p>精英老师（人）</p></li>
<li class="lastli"><span>100%</span>
<p>好评率</p></li>
</ul>
</div>
<a href="#myzixun" role="button"  data-toggle="modal"><button class="zixunbtn" id="zixunbtn"></button></a>
<div id="myzixun" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myzixunLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myzixunLabel"></h3>
  </div>
  <div class="modal-body">
 <div class="talk">
 <p class="badge badge-success italk">你好我想咨询一个事情</p>
 <p class="badge badge-success ytalk">你好这里是在哪学客服，很高兴为你，请问你具体遇到了什么问题呢？你好这里是在哪学客服，很高兴为你，请问你具体遇到了什么问题呢？</p>
 
 </div>
  <textarea rows="5" class="form-textarea"></textarea> 
  </div>
  <div class="modal-footer">
    <button class="btn-next nomargin" type="submit">发送</button>
  </div>
</div>
</div>
</div>
<div class="container" id="organthree"> 
<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">机构简介</a></li>
    <li><a href="#tab2" data-toggle="tab">课程信息</a></li>
    <li><a href="#tab3" data-toggle="tab">活动</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
     <div class="organallknow">
     <dl class="dl-horizontal">
  <dt>机构简介</dt>
  <dd>
      <div>
          <div id="boxmore">杭州来了网络科技有限公司是一家移动互联网创业公司，分别来自互联网行业和教育行业的小伙伴们组成了一支有趣给力、战天斗
地的跨界团队。传统教育行业，学生支付的高额学费中，教师只获得很小一部分，大量的价值被教育机构的低效率中间环节侵占。老师
来了基于教师评价拟合和LBS实现学生与教师的有效匹配，让教师收入翻番、学生学费减半；内置智能教学系统让教师轻松教学、家长
远程可控、学生显著进步。杭州来了网络科技有限公司是一家移动互联网创业公司，分别来自互联网行业和教育行业的小伙伴们组成了一支有趣给力、战天斗
地的跨界团队。传统教育行业，学生支付的高额学费中，教师只获得很小一部分，大量的价值被教育机构的低效率中间环节侵占。老师
来了基于教师评价拟合和LBS实现学生与教师的有效匹配，让教师收入翻番、学生学费减半；内置智能教学系统让教师轻松教学、家长
远程可控、学生显著进步。杭州来了网络科技有限公司是一家移动互联网创业公司，分别来自互联网行业和教育行业的小伙伴们组成了一支有趣给力、战天斗
地的跨界团队。传统教育行业，学生支付的高额学费中，教师只获得很小一部分，大量的价值被教育机构的低效率中间环节侵占。老师
来了基于教师评价拟合和LBS实现学生与教师的有效匹配，让教师收入翻番、学生学费减半；内置智能教学系统让教师轻松教学、家长
远程可控、学生显著进步。杭州来了网络科技有限公司是一家移动互联网创业公司，分别来自互联网行业和教育行业的小伙伴们组成了一支有趣给力、战天斗
地的跨界团队。传统教育行业，学生支付的高额学费中，教师只获得很小一部分，大量的价值被教育机构的低效率中间环节侵占。老师
来了基于教师评价拟合和LBS实现学生与教师的有效匹配，让教师收入翻番、学生学费减半；内置智能教学系统让教师轻松教学、家长
远程可控、学生显著进步。
          </div>
          </div>
</dd>
</dl>
<dl class="dl-horizontal">
  <dt>附近交通</dt>
  <dd><p class="organplace">地铁5号线南站</p></dd>
</dl>
<dl class="dl-horizontal">

  <dt>评论（34）<span id="icommnet"><a href="#myComment" role="button"  data-toggle="modal"><img src="../static/images/icomment.png"/></a></span></dt>
  <div id="myComment" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myCommentLabel">写评价，攒人品！</h3>
  </div>
  <div class="modal-body">
 <form action="#" method="post" class="form-horizontal"/>
 <div class="control-group">
                        <label class="control-label" >总体评价</label>
                        <div class="controls">
                            <div class="revinp">
				<span class="level">
					<i class="level_hollow" cjmark=""></i>
					<i class="level_hollow" cjmark=""></i>
					<i class="level_hollow" cjmark=""></i>
					<i class="level_hollow" cjmark=""></i>
					<i class="level_hollow" cjmark=""></i>
				</span>
				<span class="revgrade">未评分</span>
			</div>

                        </div>
                        <br>
                       <div class="control-group">
                        <h4>写评价</h4>
                          <textarea rows="5" class="form-textarea" id="Commenttext"></textarea> 
                          <b id="commentnum"></b>
                        </div>
                    </div>
 </form>
  </div>
  <div class="modal-footer">
  <span id="niming">
   <input type="checkbox">匿名登录</span>
    <button class="btn-next nomargin" type="submit">提交</button>
  </div>
</div>
  <dd>
  <ul class="unstyled" id="usertest">
  <li>
  <div class="leftuser"><img src="../static/images/userpic.png" class="img-circle"/>
  <span class="text-center">程文</span>
  </div>
  <div class="righttest" >
  <div class="popover right" id="usercomment1">
            <div class="arrow"></div>
            <h3 class="popover-title"><span>音乐-乐器-钢琴</span><span>学生上门</span><span>1小时</span></h3>
            <div class="popover-content">
             <div class="commentin"><span><img src="../static/images/happypic.png"/>好评</span>
            
            <span><div class="revinp">
				<span class="level">
                <b>描述相符：</b>		<i class="level_solid" ></i>
					<i class="level_solid" ></i>
					<i class="level_solid" ></i>
					<i class="level_solid" ></i>
					<i class="level_hollow" ></i>
				</span>
				
			</div></span>
            <span><div class="revinp">
				<span class="level">
                <b>响应速度：</b>		<i class="level_solid" ></i>
					<i class="level_solid" ></i>
					<i class="level_solid" ></i>
					<i class="level_solid" ></i>
					<i class="level_hollow" ></i>
				</span>
				
			</div></span>
          <span>
            <div class="revinp">
				<span class="level"> <b>描述相符：</b>
					<i class="level_solid" ></i>
					<i class="level_solid" ></i>
					<i class="level_solid" ></i>
					<i class="level_solid" ></i>
					<i class="level_hollow" ></i>
				</span>
				
			</div>
          </span></div>
             <div class="commment">
             <p>心声：老师很赞，真人比照片气质更佳，很亲切。学弹了一首 my heart will go on,学习了节拍、音程、和弦，重点练习了右手指法，期待下次上课！
             老师很赞，真人比照片气质更佳，很亲切。学弹了一首 my heart will go on,学习了节拍、音程、和弦，重点练习了右手指法，期待下次上课！老师很赞，真人比照片气质更佳！
             </p>
             
             </div>
            </div>
          </div>
  </div>
  </li>
 <li>
  <div class="leftuser"><img src="../static/images/userpic.png" class="img-circle"/>
  <span class="text-center">程文</span>
  </div>
  <div class="righttest">
  <div class="popover right" id="usercomment2">
            <div class="arrow"></div>
            <h3 class="popover-title"><span>音乐-乐器-钢琴</span><span>学生上门</span><span>1小时</span></h3>
            <div class="popover-content">
             <div class="commentin"><span><img src="../static/images/happypic.png"/>好评</span>
            
            <span><div class="revinp">
				<span class="level">
                <b>描述相符：</b>		<i class="level_solid" ></i>
					<i class="level_solid" ></i>
					<i class="level_solid" ></i>
					<i class="level_solid" ></i>
					<i class="level_hollow" ></i>
				</span>
				
			</div></span>
            <span><div class="revinp">
				<span class="level">
                <b>响应速度：</b>		<i class="level_solid" ></i>
					<i class="level_solid" ></i>
					<i class="level_solid" ></i>
					<i class="level_solid" ></i>
					<i class="level_hollow" ></i>
				</span>
				
			</div></span>
          <span>
            <div class="revinp">
				<span class="level"> <b>描述相符：</b>
					<i class="level_solid" ></i>
					<i class="level_solid" ></i>
					<i class="level_solid" ></i>
					<i class="level_solid" ></i>
					<i class="level_hollow" ></i>
				</span>
				
			</div>
          </span></div>
             <div class="commment">
             <p>心声：老师很赞，真人比照片气质更佳，很亲切。学弹了一首 my heart will go on,学习了节拍、音程、和弦，重点练习了右手指法，期待下次上课！
             老师很赞，真人比照片气质更佳，很亲切。学弹了一首 my heart will go on,学习了节拍、音程、和弦，重点练习了右手指法，期待下次上课！老师很赞，真人比照片气质更佳！
             </p>
             
             </div>
            </div>
          </div>
  </div>
  </li>
  </ul>
  </dd>
</dl>

 
<!-- Modal -->

     </div>
    </div>
    <div class="tab-pane" id="tab2">
    <div id="organclass">
   <ul class="unstyled">
   <li>
   <div class="classleft">
   <img src="../static/images/organclass.png"/>
   <div class="classtest">
   <h3>综合课程</h3>
   <br>
   <span> <div class="revinp">
				<span class="level"> 
					<i class="level_solid" ></i>
					<i class="level_solid" ></i>
					<i class="level_solid" ></i>
					<i class="level_solid" ></i>
					<i class="level_hollow" ></i>
				</span><b>23人评价</b></div>
   </span>
           <span>适合年龄：6-12岁</span>
           <span>总课时：100节</span>


   </div>
   <div class="classright">
   <span>￥500</span>
   <a href="#"/><button class=" btn-myred">查看详情</button></a></div>
  </div>
   </li>
  <li>
   <div class="classleft">
   <img src="../static/images/organclass.png"/>
   <div class="classtest">
   <h3>综合课程</h3>
   <br>
   <span> <div class="revinp">
				<span class="level"> 
					<i class="level_solid" ></i>
					<i class="level_solid" ></i>
					<i class="level_solid" ></i>
					<i class="level_solid" ></i>
					<i class="level_hollow" ></i>
				</span><b>23人评价</b>
       </div>
   </span>
           <span>适合年龄：6-12岁</span>
           <span>总课时：100节</span>

   </div>
   <div class="classright">
   <span>￥500</span>
   <a href="#"/><button class=" btn-myred">查看详情</button></a></div>
   </div>
   </li>
   <li>
   <div class="classleft">
   <img src="../static/images/organclass.png"/>
   <div class="classtest">
   <h3>综合课程</h3>
   <br>
   <span> <div class="revinp">
				<span class="level"> 
					<i class="level_solid" ></i>
					<i class="level_solid" ></i>
					<i class="level_solid" ></i>
					<i class="level_solid" ></i>
					<i class="level_hollow" ></i>
				</span><b>23人评价</b>
       </div>
   </span>
           <span>适合年龄：6-12岁</span>
           <span>总课时：100节</span>

   </div>
   <div class="classright">
   <span>￥500</span>
   <a href="#"/><button class=" btn-myred">查看详情</button></a></div>
   </div>
   </li>
   <li>
   <div class="classleft">
   <img src="../static/images/organclass.png"/>
   <div class="classtest">
   <h3>综合课程</h3>
   <br>
   <span> <div class="revinp">
				<span class="level"> 
					<i class="level_solid" ></i>
					<i class="level_solid" ></i>
					<i class="level_solid" ></i>
					<i class="level_solid" ></i>
					<i class="level_hollow" ></i>
				</span><b>23人评价</b>
   </div>
   </span>
           <span>适合年龄：6-12岁</span>
           <span>总课时：100节</span>

   </div>
   <div class="classright">
   <span>￥500</span>
   <a href="#"/><button class=" btn-myred">查看详情</button></a></div>
   </div>
   </li>
   </ul>
   </div>
    </div>
     <div class="tab-pane" id="tab3">
      <div id="organplay">
   <ul class="unstyled">
   <li>
   <div class="classleft">
   <img src="../static/images/organclass.png"/>
   <div class="classtest">
   <h3>欧洲七日游</h3>
   <br>
   <span> <div class="revinp">
				<span class="level"> 
					<i class="level_solid" ></i>
					<i class="level_solid" ></i>
					<i class="level_solid" ></i>
					<i class="level_solid" ></i>
					<i class="level_hollow" ></i>
				</span><b>23人评价</b>
       </div>
   </span>
           <span>适合年龄：6-12岁</span>
           <span>总课时：100节</span>

   </div>
   <div class="classright">
   <span>￥500</span>
   <a href="#"/><button class=" btn-myred">查看详情</button></a></div>
   </div>
   </li>
  <li>
   <div class="classleft">
   <img src="../static/images/organclass.png"/>
   <div class="classtest">
   <h3>欧洲七日游</h3>
   <br>
   <span> <div class="revinp">
				<span class="level"> 
					<i class="level_solid" ></i>
					<i class="level_solid" ></i>
					<i class="level_solid" ></i>
					<i class="level_solid" ></i>
					<i class="level_hollow" ></i>
				</span><b>23人评价</b>
   </div>
   </span>
           <span>适合年龄：6-12岁</span>
           <span>总课时：100节</span>

   </div>
   <div class="classright">
   <span>￥500</span>
   <a href="#"/><button class=" btn-myred">查看详情</button></a></div>
   </div>
   </li>
   <li>
   <div class="classleft">
   <img src="../static/images/organclass.png"/>
   <div class="classtest">
   <h3>欧洲七日游</h3>
   <br>
   <span> <div class="revinp">
				<span class="level"> 
					<i class="level_solid" ></i>
					<i class="level_solid" ></i>
					<i class="level_solid" ></i>
					<i class="level_solid" ></i>
					<i class="level_hollow" ></i>
				</span>
       <b>23人评价</b></div>
   </span>
           <span>适合年龄：6-12岁</span>
           <span>总课时：100节</span>
           </div>


      <div class="classright">
   <span>￥500</span>
   <a href="#"><button class=" btn-myred">查看详情</button></a></div>
   </div>
   </li>
   <li>
   <div class="classleft">
   <img src="../static/images/organclass.png"/>
   <div class="classtest">
   <h3>欧洲七日游</h3>
   <br>
   <span> <div class="revinp">
				<span class="level"> 
					<i class="level_solid" ></i>
					<i class="level_solid" ></i>
					<i class="level_solid" ></i>
					<i class="level_solid" ></i>
					<i class="level_hollow" ></i>
				</span><b>23人评价</b>
   </div></span>
           <span>适合年龄：6-12岁</span>
           <span>总课时：100节</span>
           </div>
   </div>
   <div class="classright">
   <span>￥500</span>
   <a href="#"><button class=" btn-myred">查看详情</button></a></div>

   </li>
   </ul>
   </div>
    </div>
  </div>
</div>

</div>


</div>

<div   id="footer">
<div class="container">
<div class="row">
<div class="span3">
<h3>帮助中心</h3>
<ul class="unstyled">
<li><a href="#">平台流程</a></li>
</ul>
</div>
<div class="span3">
 <h3>服务支持</h3>
<ul class="unstyled">
<li><a href="#">意见反馈</a></li>

</ul>
</div>
<div class="span3">  
 <h3>关于在哪学</h3>
<ul class="unstyled">
<li><a href="#">了解我们</a></li>
<li><a href="#">联系我们</a></li>
 <li><a href="#">加入我们</a></li>
 <li><a href="#">活动公告</a></li>
 <li><a href="#">活动公告</a></li>
</ul></div>
<div class="span3"><h3>关注我们</h3>
<ul class="unstyled">
<li><a href="#">官方微信</a></li>
<li><a href="#">官方微博</a></li>
</ul></div>
<div class="span3" id="footerlogo" style="border:0px;">
<a href="#">
<img src="../static/images/footerlogo.png"/>
</a>
</div>
</div>
</div>
<div id="footeradd" class="container" style="height:32px;border: 0px;" >
<div class="footerlink">
<ul class="unstyled inline">
友情链接：
<li><a href="#">360导航</a></li>
<li><a href="#">2345导航</a></li>
<li><a href="#">火狐主页</a></li>
<li><a href="#">百度视频</a></li>
<li><a href="#">我赢职场</a></li>
<li><a href="#">华考范文网</a></li>
<li><a href="#">高考咨询会</a></li>
<li><a href="#">一诺留学</a></li></ul>
</div>
<span>
Copyright@2014 - 2015 在哪学版权所有. 京公网安备11010802015210号 | 京ICP证14027590号
</span>

</div>
</div>
</div>

</body>
</html>
<script src="../static/js/user.js" type="text/javascript" ></script>
