{% extends "layout.html" %}
{% block title %}去哪学-机构课程详情页 {% endblock title %}
{% block navbar %}
    {% include 'head.html' %}
{% endblock navbar %}
{% block content %}
    <div class="container" id="myorgan">
        <div class="classdet" id="classdet">
            <div class="classnamepic">
                <img src="{{ url_for('static', filename='images/classname.png') }}"/></div>
            <div class="picright">
                <h3>{{ course.name }}</h3>

                <div class="revinp">
				<span class="level">
                    {{ course.stars|stars|safe }}
				</span>
                </div>


                <ul class="unstyled">
                    <li>
                        <span class="organview"><i class="icon-eye-open"></i>{{ course.page_view }}</span>
                        <span class="organtalk"><i class="icon-comment"></i>{{ pagination.total }}</span><br/>
                    </li>
                    <li>总课时：{{ course.days }}天</li>
                    <li>咨询时间：{{ course.consult_time }}</li>
                    <li>上课时间：{{ course.get_time() }}</li>
                </ul>
            </div>

        </div>

        <a href="{{ url_for('course.taste', id=course.id) }}">
            <button class="attendbtn"></button>
        </a>
        <div class="threesmall1">
            <span id="editwrong"><i class=" icon-edit"></i><a href="{{ url_for('main.report')}}" role="button" target="_blank">纠错</a></span>
        </div>
    </div>

    <div class="container" id="organthree">

        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                <div class="organallknow">
                    <dl class="dl-horizontal">
                        <dt>简介特色</dt>
                        <dd>
                            <div id="boxmore">{{ course.detail|safe }}</div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>适合年龄</dt>
                        <dd>
                            <div>
                                {% for age in course.get_ages() %}
                                    {{ age.age }}
                                {% endfor %}

                                <div>
                                </div>
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>附近交通</dt>
                        <dd><p class="organplace">{{ course.get_org().traffic }}</p></dd>
                    </dl>
                    <dl class="dl-horizontal">

                        <dt>评论（{{ pagination.total }}）
                            {% if current_user.is_authenticated() %}
                                <span id="icommnet">
                            <a href="#myComment" role="button" data-toggle="modal">
                                <img  src="{{ url_for('static', filename='images/icomment.png') }}"/>
                            </a>
                        </span>
                            {% else %}
                                <span id="icommnet">
                            <a href="{{ url_for('main.login') }}?next={{ url_for('course.home', id=course.id) }}" role="button" onClick="return confirm('登录后才可以评价哦')">
                                <img  src="{{ url_for('static', filename='images/noticomment.png') }}"/>
                            </a>
                        </span>
                            {% endif %}
                        </dt>
                        {% include 'snippet/comment.html' %}
                        <dd>
                            <ul class="unstyled" id="usertest">
                                {% for comment in comments %}
                                    {% include 'snippet/commentlist.html' %}
                                {% endfor %}
                            </ul>
                        </dd>
                    </dl>
                    {% from 'snippet/pagination.html' import pagination_widget %}
                    {{ pagination_widget(pagination, 'course.home', fragment='#icommnet', id=course.id) }}


                    <!-- Modal -->

                </div>
            </div>


        </div>


    </div>

{% endblock content %}
{% block inscript %}
    <script type="text/javascript">
        $(function(){
            show();
        })
    </script>
{% endblock inscript %}




