{% extends "layout.html" %}
{% block title %}在哪学-机构注册－填写详细信息{% endblock title %}
{% block tophead %}
{% endblock tophead %}
{% block navbar %}
{% include 'headless.html' %}
{% endblock navbar %}
{% block content %}
<div id="organregall">
    <div class="container">

        <h3>机构注册</h3>

        <ul class="breadcrumb">
            <li><a href="{{ url_for('org.register') }}">1、账号注册</a> <span class="divider"><img
                    src="{{ url_for('static', filename='images/lefterr.png') }}"></span>
            </li>
            <li class="active"><a href="{{ url_for('org.detail') }}">2、填写详细信息</a> <span class="divider"><img
                    src="{{ url_for('static', filename='images/lefterr.png') }}"></span>
            </li>
            <li><a href="{{ url_for('org.certification') }}">3、上传资质证明</a>
            </li>
        </ul>
        <div id="organregform">
            <form class="form-horizontal" method="post">
                {{ form.hidden_tag() }}
                <div class="control-group">
                    <label class="control-label"><i class="form-required"></i>选择类型</label>

                    <div class="controls form-control">
                        {{ form.type_id(class="form-control") }}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label"><i class="form-required"></i>机构名称</label>

                    <div class="controls">
                        {{ form.name(class="form-control", id="org_name") }}
                        <span>{{ helper.field_errors(form.name) }}</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label"><i class="form-required"></i>广告语</label>

                    <div class="controls">
                        {{ form.slogan(class="form-control", id="org_slogan") }}
                        <span>{{ helper.field_errors(form.slogan) }}</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label"><i class="form-required"></i>行业</label>

                    <div class="controls form-control">
                        {{ form.professions }}
                        <span class="inputwrong">{{ helper.field_errors(form.professions) }}</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label"><i class="form-required"></i>适合年龄</label>

                    <div class="controls form-control">
                        {{ form.ages }}
                        <span class="inputwrong">{{ helper.field_errors(form.ages) }}</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label"><i class="form-required"></i>联系人</label>

                    <div class="controls">
                        {{ form.contact(class="form-control", id="org_contact") }}
                        <span>{{ helper.field_errors(form.contact) }}</span>

                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label"><i class="form-required"></i>联系电话</label>
                    <div class="controls">
                        {{ form.contact_phone(class="form-control", id="org_contact_phone") }}
                        <span>{{ helper.field_errors(form.contact_phone) }}</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label"><i class="form-required"></i>城市</label>

                    <div class="controls ">

                        <select id="dropLang" class="district" >
                            <option selected="selected" value="0">----请选择城市----</option>
                            {% for city in form.city_id %}
                            <option value="{{ city.id }}">{{ city.city }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label"><i class="form-required"></i>区域</label>

                    <div class="controls">
                        <select name="{{ form.location_id.name }}" class="district" id="dropFrame">
                            <option selected="selected" value="0">----请选择区域----</option>
                        {% for location in form.location %}

                            <option value="{{ location.id }}" parentid="{{location.city_id }}">{{ location.district }}</option>

                        {% endfor %}
                        </select>
                        <span>{{ helper.field_errors(form.location_id) }}</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label"><i class="form-required"></i>详细地址</label>

                    <div class="controls">
                        {{ form.address(class="form-control", id="org_address") }}
                        <span>{{ helper.field_errors(form.address) }}</span>

                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label"><i class="form-required"></i>附近交通</label>

                    <div class="controls">
                        {{ form.traffic(class="form-textarea", row="4", id="org_traffic") }}
                        <span>{{ helper.field_errors(form.traffic) }}</span>

                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label"><i class="form-required"></i>详细介绍</label>

                    <div class="controls">
                        {{ form.detail(class="form-textarea", row="4", id="org_intro") }}
                        <span>{{ helper.field_errors(form.detail) }}</span>

                    </div>
                </div>
                <div class="controls">
                    <button type="submit" class="btn-next" id="orgreg2">下一步</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
{% block inscript %}

    <script type="text/javascript" language="javascript">
        $(function(){
            $("#dropLang").unbind("change", eDropLangChange).bind("change", eDropLangChange);
            $("#dropFrame").unbind("change", eDropFrameChange).bind("change", eDropFrameChange);
        });

        var eDropLangChange = function(){
            var selectedValue = $(this).val();

            $("#dropFrame").children("span").each(function(){
                $(this).children().clone().replaceAll($(this));
            });

            if(parseInt(selectedValue) != 0){

                $("#dropFrame").children("option[parentid!='" + selectedValue + "'][value!='0']").each(function(){
                    $(this).wrap("<span style='display:none'></span>");
                });
            }
        };

        var eDropFrameChange = function(){
            $("#dropLang").val($(this).children("option:selected").attr("parentid"));
        };
    </script>
{% endblock inscript %}
