{% extends "layout.html" %}
{% block title %}在哪学-机构个人主页{% endblock title %}
{% block navbar %}
{% include 'head.html' %}
{% endblock navbar %}
{% block content %}
<div class="container" id="myorgan">

<div class="myhead">
    <div class="headtitle">
        <div class="organlogo"><img src="{{ org.logo|picture }}" class="img-circle"/></div>
        <div class="organname">
            <dl>
                <dt><span>{{ org.name }}</span>
                <address><img src="{{ url_for('static', filename='images/organindex.png') }}"/>

                </address>
                </dt>
                <dd><a href="{{ org.site }}" target="_blank">
                    <img src="{{ url_for('static', filename='images/origanurl.png') }}">{{ org.site }}</a></dd>
            </dl>
        </div>
    </div>
    <div class="headdes">
        <div class="organmoredec">
            <span class="organview"><a id="looknum" data-original-title="浏览数" data-toggle="tooltip" href="#"><i
                    class="icon-eye-open"></i></a>{{ org.page_view }}</span>
            <span class="organtalk"><i class="icon-comment"></i>{{ org.comment_count }}</span>

            <p class="organplace"><i class=" icon-map-marker"></i>{{ org.location }}</p>

        </div>


        <div class="clearboth"></div>
        <div class="organtotal">
            <ul class="unstyled inline">
                <li class="organknown">

<span class="lastspan"><div class="revinp">
				<span class="level">
                    {{ org.star |stars|safe }}
				</span>

</div></span>
                </li>
                <li><span>{{ org.get_sign_up_num() }}</span>

                    <p>报名人数</p></li>
                <li class="lastli"><span>{{ org.star }}</span>

                    <p>评分</p></li>
            </ul>
        </div>
        {% if current_user.is_authenticated() %}
        <a href="#myzixun" role="button" data-toggle="modal">
            <button class="zixunbtn" id="zixunbtn">咨询客服</button>
        </a>
        {% else %}
        <a href="{{ url_for('main.login') }}?next={{ url_for('org.home', id=org.id) }}" role="button"
           onClick="return confirm('登录后才可以咨询哦')">
            <button class="zixunbtn" id="zixunbtn">咨询客服</button>
        </a>
        {% endif %}
        <div class="threesmall">
            <span class="organcall"><i class="icon-phone"></i>400-656-9191</span>
            <span id="editwrong">
                <a href="{{ url_for('main.report')}}" role="button" target="_blank"><i
                        class=" icon-edit"></i>纠错</a></span>
        </div>
        <div id="myzixun" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myzixunLabel"
             aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myzixunLabel"></h3>
            </div>
            <div class="modal-body">
                <div class="talk" id="talkbody">
                    <ul class="unstyled" id="talkpost">
                        <li></li>
                    </ul>
                    <input type="hidden" id="talkid" value="0"/>
                    <input type="hidden" id="orginid" value="{{ org.id }}">
                </div>
                <textarea rows="5" class="form-textarea" name="talkcontent" id="talkcontent"></textarea>
            </div>
            <div class="modal-footer">
                <button class="btn-next nomargin" type="submit" id="onlinetalk">发送</button>
            </div>
        </div>
    </div>

</div>
<hr class="divhr hr1">
<div class="container" id="organthree">
    <div class="tabbable"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">机构简介</a></li>
            <li><a href="#tab2" data-toggle="tab">课程信息</a></li>
            <li><a href="#tab3" data-toggle="tab">活动</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                <div class="organallknow">
                    <dl class="dl-horizontal">
                        <dt>机构简介</dt>
                        <dd class="pdd">
                            <div>
                                <div id="boxmore">{{ org.detail|safe }}
                                </div>
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>适合年龄</dt>
                        <dd>
                            <div>
                                {% for age in org.get_ages() %}
                                {{ age.age }}
                                {% endfor %}

                                <div>
                                </div>
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>机构类型</dt>
                        <dd>
                            <div>
                                {% for profession in org.get_professions() %}
                                {{ profession.profession }}
                                {% endfor %}

                                <div>
                                </div>
                            </div>
                        </dd>
                    </dl>

                    <dl class="dl-horizontal">
                        <dt>附近交通</dt>
                        <dd><p class="organplace">{{ org.address }}</p></dd>
                    </dl>
                    <dl class="dl-horizontal">

                        <dt>评论（{{ pagination.total }}）
                            {% if current_user.is_authenticated() %}
                            <span id="icommnet">
                            <a href="#myComment" role="button" data-toggle="modal">
                                <img src="{{ url_for('static', filename='images/icomment.png') }}"/>
                            </a>
                        </span>
                            {% else %}
                               <span id="icommnet">
                            <a href="{{ url_for('main.login') }}?next={{ url_for('org.home', id=org.id) }}"
                               role="button" onClick="return confirm('登录后才可以评价哦')">
                                <img src="{{ url_for('static', filename='images/noticomment.png') }}"/>
                            </a>
                        </span>
                            {% endif %}
                        </dt>
                        <!--评论弹出区域-->
                        {% include 'snippet/comment.html' %}
                        <dd>
                            <ul class="unstyled" id="usertest">
                                {% for comment in comments %}
                                <!--评论列表-->
                                {% include 'snippet/commentlist.html' %}
                                {% endfor %}
                            </ul>
                        </dd>
                    </dl>
                    {% from 'snippet/pagination.html' import pagination_widget %}
                    {{ pagination_widget(pagination, 'org.home', fragment='#icommnet', id=org.id) }}

                    <!-- Modal -->

                </div>
            </div>
            <div class="tab-pane" id="tab2">
                <div id="organclass">
                    <ul class="unstyled block">
                        {% for class in org.get_classes() %}
                        <li>
                            <div class="classleft">
                                <a href="{{ url_for('course.home', id=class.id) }}">
                                    <img src="{{ class.photo|picture }}"/>
                                </a>

                                <div class="classtest">

                                    <h3><a href="{{ url_for('course.home', id=class.id) }}">{{ class.name }}</a></h3>
                                    <br>
   <span> <div class="revinp">
				<span class="level">
                    {{ class.stars|stars|safe }}
				</span><b>{{ class.get_comment_count() }}人评论</b>
   </div>
   </span>
                                    <span>适合年龄：{% for age in class.get_ages() %} {{ age.age }} {% endfor %}</span>
                                    <span class="classplace"><i class=" icon-map-marker"></i>{{ org.location }} {{ org.address }}</span>
                                </div>
                            </div>
                            <div class="classright">
                                <span>{{ class.price }}</span>
                                <a href="{{ url_for('course.taste', id=class.id) }}" class="freeattend">
                                    <button class="btn-next ">免费试听</button>
                                </a>
                                <a href="{{ url_for('course.home', id=class.id) }}" class="classinfo">
                                    <button class="btn-next">课程详情</button>
                                </a>

                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="tab-pane" id="tab3">
                <div id="organplay">
                    <ul class="unstyled">
                        {% for activity in org.get_activities() %}
                        <li>
                            <div class="classleft">
                                <a href="{{ url_for('activity.home', id=activity.id) }}">
                                    <img src="{{ activity.photo|picture }}"/>
                                </a>

                                <div class="classtest">
                                    <h3><a href="{{ url_for('activity.home', id=activity.id) }}">{{ activity.name }}</a>
                                    </h3>
                                    <br>
   <span class="activityspan"> <div class="revinp">
				<span class="level">
                    {{ activity.stars|stars|safe }}
				</span><b>{{ activity.get_comment_count() }}人评价 </b><b class="redb"> {{ activity|activity_status }}</b>
   </div>
   </span>
                                    <span>适合年龄：{% for age in activity.get_ages() %} {{ age.age }} {% endfor %}</span>
                                    <span>开始时间：{{ activity.start_time|get_date_time }}</span>
                                    <span>结束时间：{{ activity.end_time|get_date_time }}</span>

                                </div>
                                <div class="classright">
                                    <span>{{ activity.price }}</span>
                                    <a href="{{ url_for('activity.taste', id=activity.id) }}" class="freeattend">
                                        <button class="btn-next">免费试听</button>
                                    </a>
                                    <a href="{{ url_for('activity.home', id=activity.id) }}" class="actinfo">
                                        <button class="btn-next">活动详情</button>
                                    </a></div>
                            </div>
                        </li>
                        {% endfor %}

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <hr class="divhr hr2">
</div>


</div>
{% endblock content %}
{% block inscript %}
<script type="text/javascript">
    $(function () {
        show();
        $('#looknum').tooltip('hide');
        chackTextarea(document.getElementById("Commenttext"), 140, document.getElementById("commentnum"));
    })
</script>
{% endblock inscript %}





