{% extends "layout.html" %}
{% block title %}去哪学-机构活动详情页 {% endblock title %}
{% block navbar %}
{% include 'head.html' %}
{% endblock navbar %}
{% block content %}
<div class="container" id="myorgan">
    <div class="classdet" id="classdet">
        <div class="classnamepic">
            <img src="{{ activity.photo|picture }}"/></div>
        <div class="picright">
            <h3>{{ activity.name }}</h3>

            <div class="revinp">
				<span class="level">
             	    <i class="level_solid"></i>
					<i class="level_solid"></i>
					<i class="level_solid"></i>
					<i class="level_solid"></i>
					<i class="level_hollow"></i>

				</span>
            </div>


            <ul class="unstyled">
                <li>
                    <span class="organview"><i class="icon-eye-open"></i>{{ activity.page_view }}</span>
                    <span class="organtalk"><i class="icon-comment"></i>{{ pagination.total }}</span>
                   <span id="isover">活动已过期</span><br/>

                </li>
                <li class="firstli">适合年龄： {% for age in activity.get_ages() %} {{ age.age }} {% endfor %}
                </li>
                <li>开始时间：{{ activity.start_time|get_date_time }}</li>
                <li>结束时间：{{ activity.end_time|get_date_time }}</li>
                <li>活动类型：{{ activity.category_id|category }}</li>
            </ul>
        </div>

    </div>
    <span id="origanprice">这里放价格</span>
    <a href="{{ url_for('activity.taste', id=activity.id) }}">
        <button class="attendbtn"></button>
    </a>
    <div class="threesmall1">
            <span id="editwrong"><i class=" icon-edit"></i><a href="{{ url_for('main.report')}}" role="button"
                                                              target="_blank">纠错</a></span>
    </div>
</div>

<div class="container" id="organthree">

    <div class="tab-content">
        <div class="tab-pane active" id="tab1">
            <div class="organallknow">
                <dl class="dl-horizontal">
                    <dt>活动简介</dt>
                    <dd>
                        <div id="boxmore">{{ activity.detail|safe }}</div>
                    </dd>
                </dl>

                <dl class="dl-horizontal">
                    <dt>地标</dt>
                    <dd><p class="organplace">{{ activity.landmark }}</p></dd>
                </dl>

                <dl class="dl-horizontal">
                    <dt>地址</dt>
                    <dd><p class="organplace">{{ activity.address }}</p></dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>附近交通</dt>
                    <dd><p class="organplace">{{ activity.traffic }}</p></dd>
                </dl>
                <dl class="dl-horizontal">

                    <dt>评论（{{ pagination.total }}）
                        {% if current_user.is_authenticated() %}
                            <span id="icommnet">
                            <a href="#myComment" role="button" data-toggle="modal">
                                <img  src="{{ url_for('static', filename='images/icomment.png') }}"/>
                            </a>
                        </span>
                        {% else %}
                            <span id="icommnet">
                            <a href="{{ url_for('main.login') }}?next={{ url_for('activity.home', id=activity.id) }}" role="button" onClick="return confirm('登录后才可以评价哦')">
                                <img  src="{{ url_for('static', filename='images/noticomment.png') }}"/>
                            </a>
                        </span>
                        {% endif %}
                    </dt>
                    {% include 'snippet/comment.html' %}
                    <dd>
                        <ul class="unstyled" id="usertest">
                            {% for comment in comments %}
                                <!--评论列表-->
                                {% include 'snippet/commentlist.html' %}
                            {% endfor %}
                        </ul>
                    </dd>
                </dl>
                    {% from 'snippet/pagination.html' import pagination_widget %}
                    {{ pagination_widget(pagination, 'activity.home', fragment='#icommnet', id=activity.id) }}

                <!-- Modal -->

            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block inscript %}
    <script type="text/javascript">
        $(function(){
            show();
        })
    </script>
{% endblock inscript %}



