{% extends "layout.html" %}
{% block title %}去哪学-机构后台中心-增加课程{% endblock title %}
 {% block navbar %}
 {% include 'headuser.html' %}
    {% endblock navbar %}
    {% block content %} 
<div class="container" id="myuserindex">
    <div class="container" id="myuser">
    <div class="myuserleft">
    <ul class="unstyled">
     <li class="active"><a href="#" class="aandli"><img src="{{ url_for('static', filename='images/set1.png') }}"/>我的课程</a></li>
  <li ><a href="#" class="aandli"><img src="{{ url_for('static', filename='images/set3.png') }}"/>我的活动</a></li>
          <li><a href="#" class="aandli"><img src="{{ url_for('static', filename='images/set3.png') }}"/>我的订单</a></li>   
            
    </ul>
    
    </div>
    <div class="myuserright">
    <h3><span>增加课程</span></h3>
    <div id="myclassset">
                <form class="form-horizontal" method="post">
                    {{ form.hidden_tag() }}
                    {{ wtf.form_errors(form) }}
                    <div class="control-group">
                        <label class="control-label">课程名称</label>
                        <div class="controls">
                            <input type="text"  name="{{ form.name.name }}" class="form-control" />
 
                        </div>
                    </div>
                   
                    <div class="control-group">
                        <label class="control-label" >适应年龄</label>

                        {{ form.age_id(class="form-control-more") }}

                    </div>
                    <div class="control-group">
                        <label class="control-label" >价格</label>
                            <div class="controls">
                          <input type="text" name="{{ form.price.name }}" class="form-control" />
                        </div>
                    </div>
                      <div class="control-group">
                        <label class="control-label" >总课时</label>
                            <div class="controls">
                          <input type="text" name="{{ form.days.name }}" class="form-control" />
                        </div>
                    </div>
                     <div class="control-group">
                        <label class="control-label" >咨询时间</label>
                        <div class="controls">
                            <input type="text" name="{{ form.consult_time.name }}" class="form-control"  />
                        </div>
                        </div>
                      <div class="control-group">
                       <label class="control-label">是否支持试听</label>
                        <div class="controls">
                         <label class="radio">
<input type="radio" name="{{ form.is_tastable.name }}"  value="1" checked>支持
</label>
<label class="radio">
<input type="radio" name="{{ form.is_tastable.name }}"  value="0">
不支持
</label>

                        </div>
</div>

                    <div class="control-group">
                        <label class="control-label" >滚动开班</label>
                        <div class="controls">
                            <label class="radio">
                                <input type="radio" name="{{ form.is_round.name }}" value="1" checked/>支持
                            </label>
                            <label class="radio">
                                <input type="radio" name="{{ form.is_round.name }}" value="0"/>
                                不支持
                            </label>

                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" >上课时间</label>
                        <div class="controls">
                            <label class="checkbox inline">
                                <input type="checkbox" value="option1"> 周一
                            </label>
                            <label class="checkbox inline">
                                <input type="checkbox" value="option2"> 周二
                            </label>
                            <label class="checkbox inline">
                                <input type="checkbox" value="option3"> 周三
                            </label>



                        </div>
                    </div>
                        
                     <div class="control-group">
                        <label class="control-label">课程简介</label>
                        <div class="controls">
                            <textarea rows="4" name="{{ form.intro.name }}" class="form-textarea" ></textarea>
 
                        </div>
                    </div>
                    <div class="controls">
                        <button type="submit" class="btn-next">发布</button>
                    </div>
                </form>
            </div>
    </div>
    </div>
</div>
{% endblock content %}
    {% block inscript %}
    <link href="{{ url_for('static', filename='css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet"/>
      <script src="{{ url_for('static', filename='js/bootstrap-datetimepicker.min.js') }}" type="text/javascript" ></script>
      <script type="text/javascript">
	$(function(){
		$(".deleclass").click(function(){
			var id=$(this).attr("id");
			//alert(id);
			var r=confirm("删除课程？");
			if (r==true)
  {
		alert("你删除的课程是"+id);
  }
		else
  {
  //alert("You pressed Cancel!");
  }
	})
		
		})
		</script>
     <script type="text/javascript">
$('#datetimepicker1').datetimepicker({
		format: 'yyyy/MM/dd hh:mm',
        language: 'ch',
        pickDate: true,
        pickTime: true,
        hourStep: 1,
        minuteStep: 15,
        secondStep: 30,
        inputMask: true
      });
	   $('#datetimepicker2').datetimepicker({
		format: 'yyyy/MM/dd hh:mm',
        language: 'ch',
        pickDate: true,
        pickTime: true,
        hourStep: 1,
        minuteStep: 15,
        secondStep: 30,
        inputMask: true
      });
</script>
     {% endblock inscript %}