{% extends "layout.html" %}
{% block title %}>去哪学-机构后台中心-订单列表{% endblock title %}
{% block navbar %}
{% include 'headuser.html' %}
{% endblock navbar %}
{% block content %}
<div class="container" id="myuserindex">
    <div class="myuserpic ">
        <img src="{{ url_for('static', filename='images/userhead.png') }}" class="img-circle"/>
        <ul class="unstyled">
            <li>
                <a class="username" href="#">{{current_user.get_name()}}</a>
            </li>
            <li>
                <a href="#" class="outa">退出登录</a>
            </li>
        </ul>
    </div>
    <div class="container" id="myuser">
        <div class="myuserleft">
            <ul class="unstyled">
                <li><a href="{{ url_for('org.course_list') }}" class="aandli"><img src="{{ url_for('static', filename='images/set1.png') }}"/>我的课程</a>
                </li>
                <li><a href={{ url_for('org.activity_list') }}" class="aandli"><img src="{{ url_for('static', filename='images/set3.png') }}"/>我的活动</a>
                </li>
                <li class="active"><a href="{{ url_for('org.order_list') }}" class="aandli"><img src="{{ url_for('static', filename='images/set3.png') }}"/>我的订单</a></li>
            </ul>
        </div>
        <div class="myuserright">
            <h3><span>订单列表(5)</span></h3>

            <div class="tablelist">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>订单号</th>
                        <th>订单名</th>
                        <th>用户名</th>
                        <th>金额</th>
                        <th>联系电话</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>2014102931131</td>
                        <td>小学英语强化班</td>
                        <td>汤威</td>
                        <td>400</td>
                        <td>15029269197</td>
                        <td><a href="#">操作</a></td>
                    </tr>
                    <tr>
                        <td>2014102931131</td>
                        <td>小学英语强化班</td>
                        <td>汤威</td>
                        <td>400</td>
                        <td>已下单</td>
                        <td><a href="#">操作</a></td>
                    </tr>
                    <tr>
                        <td>2014102931131</td>
                        <td>小学英语强化班</td>
                        <td>汤威</td>
                        <td>400</td>
                        <td>15029269197</td>
                        <td><a href="#">操作</a></td>
                    </tr>
                    <tr>
                        <td>2014102931131</td>
                        <td>小学英语强化班</td>
                        <td>汤威</td>
                        <td>400</td>
                        <td>15029269197</td>
                        <td><a href="#">操作</a></td>
                    </tr>
                    <tr>
                        <td>2014102931131</td>
                        <td>小学英语强化班</td>
                        <td>汤威</td>
                        <td>400</td>
                        <td>15029269197</td>
                        <td><a href="#">操作</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>


{% endblock content %}
{% block inscript %}
<script type="text/javascript">
    $(function () {

        $("#myuser .myuserleft ul li").hover(function () {
            $(this).find('.aandli').css('color', '#fff');
        }, function () {
            $(this).find('.aandli').css('color', '#000');

        })
        $("#myuser .myuserleft ul li.active a").css('color', '#fff');

    })
    $(function () {
        $(".deleclass").click(function () {
            var id = $(this).attr("id");
            //alert(id);
            var r = confirm("删除课程？");
            if (r == true) {
                alert("你删除的课程是" + id);
            }
            else {
                //alert("You pressed Cancel!");
            }
        })

    })
</script>
{% endblock inscript %}