{% extends "layout.html" %}
{% block title %}>去哪学-机构后台中心-我的课程{% endblock title %}
{% block navbar %}
{% include 'headuser.html' %}
{% endblock navbar %}
{% block content %}
<div class="container" id="myuserindex">
    <div class="myuserpic ">
        <img src="{{ url_for('static', filename='images/userhead.png') }}" class="img-circle"/>
        <ul class="unstyled">
            <li>
                <a class="username" href="#">{{current_user.get_name()}}</a>
            </li>
            <li>
                <a href="{{ url_for('main.logout') }}" class="outa">退出登录</a>
            </li>
        </ul>
    </div>
    <div class="container" id="myuser">
        <div class="myuserleft">
            <ul class="unstyled">
                <li class="active"><a href="{{ url_for('org.course_list') }}" class="aandli"><img src="{{ url_for('static', filename='images/set1.png') }}"/>我的课程</a></li>
                <li><a href="{{ url_for('org.activity_list') }}" class="aandli"><img src="{{ url_for('static', filename='images/set3.png') }}"/>我的活动</a>
                </li>
                <li><a href="{{ url_for('org.order_list') }}" class="aandli"><img src="{{ url_for('static', filename='images/set3.png') }}"/>我的订单</a>
                </li>

            </ul>

        </div>
        <div class="myuserright">
            <h3><span>课程列表</span><a href="{{ url_for('org.add_course') }}"><img
                    src="{{ url_for('static', filename='images/addclass.png') }}"/></a></h3>
            <ul class="unstyled" id="actlistul">
                {% for course in courses %}
                <li>
                    <div class="actleft"><img src="{{ url_for('static', filename='images/actpic.png') }}"/></div>
                    <div class="actright">
                        <div class="actrighttop">
                            <h4><a href="{{ url_for('course.home', id=course.id) }}">{{ course.name }}</a></h4>

                            <div class="actrighta">
                                <a>
                                    <button class="btn-edit">编辑</button>
                                </a>
                                <a class="deleclass" id="myclass1">
                                    <button class="btn-det">删除</button>
                                </a>

                            </div>
                        </div>
                        <span><small>学费</small>￥{{ course.price }}</span>
                        <h5>课程简介</h5>

                        <p>{{ course.intro }}</p>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>


{% endblock content %}
{% block inscript %}
<script type="text/javascript">

    $(function () {
        $(".deleclass").click(function () {
            var id = $(this).attr("id");
            //alert(id);
            var r = confirm("删除课程？");
            if (r == true) {
                alert("你删除的课程是" + id);
            }
            else {
                //alert("You pressed Cancel!");
            }
        })

    })
</script>
{% endblock inscript %}