{% extends "layout.html" %}
{% block title %}去哪学-机构后台中心-我的课程{% endblock title %}
{% block navbar %}
{% include 'headuser.html' %}
{% endblock navbar %}
{% block content %}
<div class="container" id="myuserindex">
    <div class="myuserpic ">
        <img src="{{ url_for('static', filename='images/userhead.png') }}" class="img-circle"/>
        <ul class="unstyled">
            <li>
                <a class="username" href="#">{{current_user.get_name()}}</a>
            </li>
            <li>
                <a href="{{ url_for('main.logout') }}" class="outa">退出登录</a>
            </li>
        </ul>
    </div>
    <div class="container" id="myuser">
        <div class="myuserleft">
            <ul class="unstyled">
                <li class="active"><a href="{{ url_for('org.course_list') }}" class="aandli"><img src="{{ url_for('static', filename='images/set1.png') }}"/>我的课程</a></li>
                <li><a href="{{ url_for('org.activity_list') }}" class="aandli"><img src="{{ url_for('static', filename='images/set3.png') }}"/>我的活动</a>
                </li>
                <li><a href="{{ url_for('org.order_list') }}" class="aandli"><img src="{{ url_for('static', filename='images/set3.png') }}"/>我的订单</a>
                </li>

            </ul>

        </div>
        <div class="myuserright">
            <h3><span>课程列表</span><a href="{{ url_for('org.add_course') }}"><img
                    src="{{ url_for('static', filename='images/addclass.png') }}"/></a></h3>
            <ul class="unstyled" id="actlistul">
                {% for course in courses %}
                <li>
                    <div class="actleft"><a href="{{ url_for('course.home', id=course.id) }}"><img src="{{ url_for('static', filename='images/actpic.png') }}"/></a></div>
                    <div class="actright">
                        <div class="actrighttop">
                            <h4><a href="{{ url_for('course.home', id=course.id) }}">{{ course.name }}</a></h4>

                            <div class="actrighta">
                                {% if course.is_closed %}
                                    <button class="closebtn">已关闭</button>
                                {% else %}
                                <a href="{{ url_for('org.edit_course', id=course.id) }}">
                                    <button class="btn-edit">编辑</button>
                                </a>
                                <a class="deleclass"  href="{{ url_for('org.delete_course', id=course.id) }}" onClick="return confirm('关闭课程吗？')">
                                    <button class="btn-det">关闭</button>
                                </a>
                                {% endif %}

                            </div>
                        </div>
                        <span><small>学费</small>￥{{ course.price }}</span>
                        <h5>课程简介</h5>

                        <p>{{ course.intro }}</p>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>


{% endblock content %}
{% block inscript %}
<script type="text/javascript">

</script>
{% endblock inscript %}