{% extends "layout.html" %}
{% block title %}去哪学-用户中心-订单详情{% endblock title %}
{% block navbar %}
{% include 'headuser.html' %}
{% endblock navbar %}
{% block content %}


<div class="container" id="myuserindex">
    {% include 'logincenter.html' %}
    <div class="container" id="myuser">
        <div class="myuserleft">
            <ul class="unstyled">
                <li><a href="{{ url_for('org.course_list') }}" class="aandli"><img src="{{ url_for('static', filename='images/set1.png') }}"/>我的课程</a>
                </li>
                <li><a href="{{ url_for('org.activity_list') }}" class="aandli"><img src="{{ url_for('static', filename='images/set2.png') }}"/>我的活动</a>
                </li>
                <li class="active"><a href="{{ url_for('org.order_list') }}" class="aandli"><img  src="{{ url_for('static', filename='images/set3.png') }}"/>我的订单</a></li>
            </ul>
        </div>
        <div class="myuserright">
            <h3><span>订单详情</span></h3>

            <div id="myorderdet">
                <div class="myorderxq">
                    <ul class="unstyled">
                        <li>
                            <dl>
                                <dt>活动信息:</dt>
                                <dd><p>活动名称：{{ order.get_activity().name }}</p>

                                    <p>时间：{{ order.get_activity().get_time() }}</p>
                                </dd>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dt>学员信息:</dt>
                                <dd>
                                    <ul class="unstyled inline">
                                        <li>姓名：{{ order.name }}</li>
                                        <li>性别：{{ order.sex|sex }}</li>
                                        <li class="longli">联系地址：{{ order.address }}</li>
                                    </ul>
                                    <ul class="unstyled inline">
                                        <li>年龄：{{ order.age }}</li>
                                        <li>联系电话：{{ order.mobile }}</li>
                                        <li class="longli">备注：{{ order.remark }}</li>
                                    </ul>

                                </dd>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dt>订单信息:</dt>
                                <dd><p>订单编号：{{ order.id }}
                                </p>

                                    <p> 成交时间：{{ order.created|get_date_time }}</p>
                                </dd>
                            </dl>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
    </div>
</div>

{% endblock content %}
{% block inscript %}

{% endblock inscript %}