{% extends "layout.html" %}
{% block title %}去哪学-机构后台中心-我的活动{% endblock title %}
{% block navbar %}
{% include 'headuser.html' %}
{% endblock navbar %}
{% block content %}
<div class="container" id="myuserindex">
    {% include 'logincenter.html' %}
    <div class="container" id="myuser">
        <div class="myuserleft">
            <ul class="unstyled">
                <li><a href="{{ url_for('org.course_list') }}" class="aandli"><img src="{{ url_for('static', filename='images/set1.png') }}"/>我的课程</a>
                </li>
                <li class="active"><a href="{{ url_for('org.activity_list') }}" class="aandli"><img
                        src="{{ url_for('static', filename='images/set2.png') }}"/>我的活动</a></li>
                <li><a href="{{ url_for('org.order_list') }}" class="aandli"><img src="{{ url_for('static', filename='images/set3.png') }}"/>我的订单</a>
                </li>

            </ul>

        </div>
        <div class="myuserright">
            <h3><span>活动列表</span><a href="{{ url_for('org.add_activity') }}"><img
                    src="{{ url_for('static', filename='images/addact.png') }}"/></a></h3>
            <ul class="unstyled" id="actlistul">
                {% for activity in activities %}
                <li>
                    <div class="actleft"><a href="{{ url_for('activity.home', id=activity.id) }}"><img src="{{ url_for('static', filename='images/actpic.png') }}"/></a></div>
                    <div class="actright">
                        <div class="actrighttop">
                            <h4><a href="{{ url_for('activity.home', id=activity.id) }}">{{ activity.name }}</a></h4>

                            <div class="actrighta">

                                {% if activity.is_closed %}
                                    <button class="closebtn">已关闭</button>
                                {% else %}
                                    <a href="{{ url_for('org.edit_activity', id=activity.id) }}">
                                        <button class="btn-edit">编辑</button>
                                    </a>
                                    <a class="deleclass"  href="{{ url_for('org.delete_activity', id=activity.id) }}" onClick="return confirm('关闭活动吗？')">
                                        <button class="btn-det">关闭</button>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                        <span><small>学费</small>￥{{ activity.price }}</span>
                        <h5>活动简介</h5>

                        <p>{{ activity.detail|safe |truncate(180, true) }}</p>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock content %}
