{% extends "layout.html" %}
{% block title %}在哪学-忘记密码{% endblock title %}
{% block tophead %}
{% endblock tophead %}
{% block navbar %}
{% include 'headless.html' %}
{% endblock navbar %}
{% block content %}
<div id="organregall">
    <div class="container">
        <h3 style="width: 217px;">机构登录-找回密码</h3>

        <div id="organregform">
            <form class="form-horizontal" action="" method="post">
                {{ form.hidden_tag() }}
                <div class="control-group">
                    <label class="control-label"><i class="form-required"></i>手机号</label>

                    <div class="controls">
                        {{ form.cellphone(id="forgetcell", class="form-control", placeholder="请输入11位手机号") }}
                        <span>{{ helper.field_errors(form.cellphone) }}</span>
                        <input type="hidden" value="" id="cellphonestatus"/>
                        <input type="hidden" value="{{ url_for('org.account') }}" id="userurl"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label"><i class="form-required"></i>验证码</label>

                    <div class="controls">
                        {{ form.captcha(id="inputVerCode", class="form-control") }}
                        <input class="btn-myred" id="regmessage" onclick="sendMessage();" value="免费获取验证码"
                               type="button"/>
                        <input id="mobileurl" value="{{ url_for('user.send_sms') }}" type="hidden"/>

                        <p id="smsinfo">{{ helper.field_errors(form.captcha) }}</p>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label"><i class="form-required"></i>设置新密码</label>

                    <div class="controls">
                        <input type="password" id="password" name="{{ form.password.name }}"
                               class="form-control">
                        <span>{{ helper.field_errors(form.password) }}</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label"><i class="form-required"></i>确认新密码</label>

                    <div class="controls">
                        <input type="password" id="password2" class="form-control"
                               name="{{ form.password2.name }}">
                        <span>{{ helper.field_errors(form.password2) }}</span>
                    </div>
                </div>
                <div class="controls">
                    <button type="submit" class="btn-next" id="forgetbtn">确认</button>
                </div>
            </form>
        </div>
        <hr class="divhr4 hr6">
    </div>
</div>
{% endblock content %}
{% block inscript %}
<script src="{{ url_for('static', filename='js/time.js') }}" type="text/javascript"></script>
{% endblock inscript %}