{% extends "layout.html" %}
{% block title %}去哪学-用户中心-我的订单{% endblock title %}
{% block navbar %}
    {% include 'headuser.html' %}
{% endblock navbar %}
{% block content %}


<div class="container" id="myuserindex">
    {% include 'logincenter.html' %}
    <div class="container" id="myuser">
        <div class="myuserleft">
            <ul class="unstyled">
                <li class="active"><a href="#" class="aandli"><img
                        src="{{ url_for('static', filename='images/set1.png') }}"/>我的订单</a></li>
            </ul>
        </div>
        <div class="myuserright">
            <h3><span>我的订单</span></h3>
            <h4>课程订单</h4>
            <ul class="unstyled" id="actlistul">
                {% for class_order in class_orders %}
                {% set class = class_order.get_class() %}
                <li>

                    <div class="actleft"><img src="{{ url_for('static', filename='images/actpic.png') }}"/></div>
                    <div class="actright">
                        <div class="actrighttop">
                            <h4><a href="{{ url_for('course.home', id=class.id) }}">{{ class.name }}</a></h4>

                            <div class="actrighta">
                                <a href="{{ url_for('user.course_order_detail', id=class_order.id) }}">
                                    <button class="btn-edit">订单详情</button>
                                </a>
                                <a class="deleclass" id="myclass1">
                                    <button class="btn-det">删除</button>
                                </a>
                            </div>
                        </div>
                        <p class="spanli">费用:{{ class.price }}</p>

                        <p class="spanli">时间：{{ class.get_time() }}</p>

                        <p class="spanli">地点：西安电子科技大学</p>
                    </div>
                </li>
                {% endfor %}

            </ul>
            <h4>活动订单</h4>
            <ul class="unstyled" id="actlistul2">
                {% for activity_order in activity_orders %}
                {% set activity = activity_order.get_activity() %}
                <li>
                    <div class="actleft"><img src="{{ url_for('static', filename='images/actpic.png') }}"/></div>
                    <div class="actright">
                        <div class="actrighttop">
                            <h4>{{ activity.name }}</h4>

                            <div class="actrighta">
                                <a href="{{ url_for('user.activity_order_detail', id=activity_order.id) }}">
                                    <button class="btn-edit">订单详情</button>
                                </a>
                                <a class="deleclass" id="myclass1">
                                    <button class="btn-det">删除</button>
                                </a>
                            </div>
                        </div>
                        <p class="spanli">费用:{{ activity.price }}</p>

                        <p class="spanli">开始结束时间：{{ activity.get_time() }}</p>

                        <p class="spanli">地点：西安电子科技大学</p>
                    </div>
                </li>
                {% endfor %}

            </ul>
        </div>
    </div>
</div>

{% endblock content %}
{% block inscript %}
<script type="text/javascript">
    $(function () {
        $(".deleclass").click(function () {
            var id = $(this).attr("id");
            //alert(id);
            var r = confirm("删除课程？");
            if (r == true) {
                alert("你删除的课程是" + id);
            }
            else {
                //alert("You pressed Cancel!");
            }
        })

    })
</script>
{% endblock inscript %}