{% extends "layout.html" %}
{% block title %}去哪学-用户中心-订单详情{% endblock title %}
{% block navbar %}
{% include 'headuser.html' %}
{% endblock navbar %}
{% block content %}
<div class="container" id="myuserindex">
    <div class="myuserpic ">
        <img src="{{ url_for('static', filename='images/userhead.png') }}" class="img-circle"/>
        <ul class="unstyled">
            <li>
                <a class="username" href="#">{{current_user.get_name()}}</a>
            </li>
            <li>
                <a href="{{ url_for('main.logout') }}" class="outa">退出登录</a>
            </li>
        </ul>
    </div>
    <div class="container" id="myuser">
        <div class="myuserleft">
            <ul class="unstyled">
                <li class="active"><a href="#" class="aandli"><img
                        src="{{ url_for('static', filename='images/set1.png') }}"/>我的订单</a></li>
            </ul>
        </div>
        <div class="myuserright">
            <h3><span>订单详情</span></h3>

            <div id="myorderdet">
                <div class="havenottalk">
                    <h3>订单交易成功，但是还未写评价哦，请给机构评价。</h3>
                    <a>
                        <button class="btn-talk text-center">立即评价</button>
                    </a>
                </div>
                <div class="myorderxq">
                    <ul class="unstyled">
                        <li>
                            <dl>
                                <dt>活动信息:</dt>
                                <dd><p>活动名称：{{ order.get_activity().name }}</p>

                                    <p>时间：{{ order.get_activity().get_time() }}</p>
                                </dd>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dt>学员信息:</dt>
                                <dd>
                                    <ul class="unstyled inline">
                                        <li>姓名：{{ order.name }}</li>
                                        <li>性别：{{ order.sex|sex }}</li>
                                        <li class="longli">联系地址：{{ order.address }}</li>
                                    </ul>
                                    <ul class="unstyled inline">
                                        <li>年龄：{{ order.age }}</li>
                                        <li>联系电话：{{ order.mobile }}</li>
                                        <li class="longli">备注：{{ order.remark }}</li>
                                    </ul>

                                </dd>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dt>订单信息:</dt>
                                <dd><p>订单编号：{{ order.id }}
                                </p>

                                    <p> 成交时间：{{ order.created|get_date_time }}</p>
                                </dd>
                            </dl>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
    </div>
</div>

{% endblock content %}
{% block inscript %}
{% endblock inscript %}